{exp:channel:entries
    channel="resources"
    disable="member_data|pagination"
    dynamic="no"
    url_title="{embed:bk-title}"
    limit="1"
}
{if res_file_type=="pb"}
	<div class="col-xs-12 book-group clearfix">
        {exp:ce_img:pair src="{res_cover:url}" width="130" crop="no" quality="84"}
        <img class="book-thumb" src="{global:assets_base}{made}" alt="{title}" width="{width}" height="{height}" />
        {/exp:ce_img:pair}
        <div class="book-info">
            <h4>{title}</h4>
            <a class="btn btn-link" href="{res_file}" target="_blank">Read Sample</a><br>
        </div>
    </div>
{if:elseif res_file_type=="ebook"}
	<div class="col-xs-12 book-group clearfix">
        {exp:ce_img:pair src="{res_cover:url}" width="130" crop="no" quality="84"}
        <img class="book-thumb" src="{global:assets_base}{made}" alt="{title}" width="{width}" height="{height}" />
        {/exp:ce_img:pair}
        <div class="book-info">
            <h4>{title}</h4>
                {if res_description}<p>{res_description}</p>{/if}
                {if res_file_watermarked}
                <a class="btn btn-link" href="{res_file_watermarked}" target="_blank">Read Sample</a><br>
                {if:else}
                <a class="btn btn-link" href="{res_file}" target="_blank">Read Sample</a><br>
                {/if}
        </div>
    </div>
{/if}
{/exp:channel:entries}