{exp:low_reorder:entries 
	set="{embed:set}" 
	disable="member_data|pagination" 
	category="{embed:cat}"
}
{if res_file_type=="app"}
	<p><a class="doc-link" href="{res_flash_app}{res_flash_app:flash_path_to_swf}{/res_flash_app}" target="_blank"><i class="fa fa-rocket"></i> {if res_title_alt}{res_title_alt}{if:else}{title}{/if}</a></p>
	{if res_description}
	<p class="res-description">{res_description}</p>
	{/if}
{if:elseif res_file_type=="app-link"}
	<p><a class="doc-link" href="{res_link}" target="_blank"><i class="fa fa-rocket"></i> {if res_title_alt}{res_title_alt}{if:else}{title}{/if}</a></p>
	{if res_description}
	<p class="res-description">{res_description}</p>
	{/if}
{if:elseif res_file_type=="video"}
	<p><a class="doc-link video-link" href="#vid-{url_title}"><i class="fa fa-play-circle"></i> {if res_title_alt}{res_title_alt}{if:else}{title}{/if}</a></p>
	{if res_description}
	<p class="res-description">{res_description}</p>
	{/if}
	<div id="vid-{url_title}" class="video-popup mfp-hide">
    	<video id="video-{url_title}" class="video-js vjs-default-skin"
    		controls preload="none" width="auto" height="auto"
    	  	poster="{global:s3_base}/images/scholastic-video-poster.jpg"
    	  	data-setup=''>
    	 	<source src="{res_file}{url}{/res_file}" type='video/mp4' />
    	 	<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    	</video>
	</div>
{if:else}
	<p><a class="doc-link" href="{res_file}" target="_blank"><i class="fa fa-file-text"></i> {if res_title_alt}{res_title_alt}{if:else}{title}{/if}</a></p>
	{if res_description}
	<p class="res-description">{res_description}</p>
	{/if}
{/if}
{/exp:low_reorder:entries}