{exp:channel:entries
    channel="resources"
    disable="member_data|pagination"
    dynamic="no"
    category="{embed:cat}"
    orderby="title"
    sort="asc"
}
{if count == "1"}
    {exp:gwcode_categories cat_id="{embed:cat}" custom_fields="no" style="linear" limit="1"}
        {if cat_description}
        <div class="row">
            <div class="col-xs-12">
                <p style="padding-right: 20px;">{cat_description}</p>
            </div>
        </div>
        {/if}
    {/exp:gwcode_categories}

    {if {embed:cat}=="187"}
        <div class="row">
        {embed="_embeds/public_samples" bk-title="reservation-superstars"}
        </div>
        <hr>
    {/if}
    {if {embed:cat}=="189"}
        <div class="row">
        {embed="_embeds/public_samples" bk-title="i-mean-business"}
        </div>
        <hr>
    {/if}
{/if}

{switch='<div class="row">||'}
{if res_file_type=="pb"}
	<div class="col-xs-4 book-group clearfix">
        {exp:ce_img:pair src="{res_cover:url}" width="130" crop="no" quality="84"}
        <img class="book-thumb" src="{global:assets_base}{made}" alt="{title}" width="{width}" height="{height}" />
        {/exp:ce_img:pair}
        {!--<img class="book-thumb" src="http://www.placehold.it/130x172"> --}
        <div class="book-info">
            <h4>{if res_title_alt}{res_title_alt}{if:else}{title}{/if}</h4>
            {if segment_1=="reviewer"}
                {if res_quiz}<a class="btn btn-link" href="{res_quiz}" target="_blank">View Quiz</a>{/if}
            {/if}
        </div>
    </div>
{if:elseif res_file_type=="audio"}
    {!-- old setting max_width="130" height="172" crop="yes" --}
	<div class="col-xs-4 book-group clearfix">
        {exp:ce_img:pair src="{res_cover:url}"  width="130" crop="no" quality="84"}
        <img class="book-thumb" src="{global:assets_base}{made}" alt="{title}" width="{width}" height="{height}" />
        {/exp:ce_img:pair}
        {!-- <img class="book-thumb" src="http://www.placehold.it/130x172"> --}
        <div class="book-info">
            <h4>{if res_title_alt}{res_title_alt}{if:else}{title}{/if}</h4>
            {if segment_1=="reviewer"}
                {if res_file}<a class="btn btn-link video-link" href="#aud-{url_title}" >Listen</a>{/if}
                {if res_quiz}<a class="btn btn-link" href="{res_quiz}" target="_blank">View Quiz</a>{/if}
            {/if}

           {!--  <div id="aud-{url_title}" class="jp-audio white-popup popup-audio mfp-hide text-center" role="application" aria-label="media player">
            <div class="jp-type-single">
                <div class="jp-gui jp-interface">
                    <div class="jp-controls">
                        <button class="jp-play" role="button" tabindex="0">play</button>
                        <button class="jp-stop" role="button" tabindex="0">stop</button>
                    </div>
                    <div class="jp-progress">
                        <div class="jp-seek-bar" style="width: 0%;">
                            <div class="jp-play-bar" style="width: 0%;"></div>
                        </div>
                    </div>
                    <div class="jp-volume-controls">
                        <button class="jp-mute" role="button" tabindex="0">mute</button>
                        <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                        <div class="jp-volume-bar">
                            <div class="jp-volume-bar-value" style="width: 80%;"></div>
                        </div>
                    </div>
                    <div class="jp-time-holder">
                        <div class="jp-current-time" role="timer" aria-label="time">00:00</div>
                        <div class="jp-duration" role="timer" aria-label="duration">00:00</div>
                        <div class="jp-toggles">
                            <button class="jp-repeat" role="button" tabindex="0">repeat</button>
                        </div>
                    </div>
                </div>
                <div class="jp-details">
                    <div class="jp-title" aria-label="title">&nbsp;</div>
                </div>
                <div class="jp-no-solution" style="display: none;">
                    <span>Update Required</span> To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                </div>
            </div>
        </div>

        <script type="text/javascript">

            $("#aud-{url_title}").jPlayer({
                ready: function () {
                    $(this).jPlayer("setMedia", {
                        title: "{title}",
                        mp3: "{res_file}"
                    });
                },
                play: function() { // To avoid multiple jPlayers playing together.
                    $(this).jPlayer("pauseOthers");
                },
                swfPath: "http://52.24.20.112/assets/js/",
                solution: "flash, html",
                supplied: "mp3",
                wmode: "window",
                globalVolume: true,
                useStateClassSkin: true,
                autoBlur: false,
                smoothPlayBar: true,
                keyEnabled: true
            });

        </script>
 --}
            <div id="aud-{url_title}" class="white-popup popup-audio mfp-hide text-center">
                <h3 style="margin-bottom: 40px;">{title}</h3>
                <audio controls>
                    <source src="{res_file}" type="audio/mpeg">
                    Your browser does not support the audio element. You can download the mp3 <a href="{res_file}" target="_blank">here</a>.
                </audio>
            </div>
        </div>
    </div>
{if:elseif res_file_type=="eread" OR res_file_type=="ebook"}
	<div class="col-xs-4 book-group clearfix">
        {exp:ce_img:pair src="{res_cover:url}" width="130" crop="no" quality="84"}
        <img class="book-thumb" src="{global:assets_base}{made}" alt="{title}" width="{width}" height="{height}" />
        {/exp:ce_img:pair}
        {!-- <img class="book-thumb" src="http://www.placehold.it/130x172"> --}
        <div class="book-info">
            <h4>{if res_title_alt}{res_title_alt}{if:else}{title}{/if}</h4>
            {if segment_1=="reviewer"}
                {if res_file}<a class="btn btn-link" href="{res_file}" target="_blank">Read Sample</a><br>{/if}
                {if res_quiz}<a class="btn btn-link" href="{res_quiz}" target="_blank">View Quiz</a>{/if}
            {/if}
            {if segment_1=="public"}
                {if res_description}<p>{res_description}</p>{/if}
            {/if}
        </div>
    </div>
{/if}
{if count != total_results}{switch='||</div>'}{/if}
{if count == total_results}</div>{/if}
{/exp:channel:entries}