{exp:category_construct:categories group_id="{embed:group}" parent_id="{embed:cat}" set custom_fields="true"}
    {if construct:level_count == 1}
    {if construct:cat_level == "1"}
        <ul class="nav nav-tabs nav-stacked">
    {if:else}
    <ul class="nav-stacked-sub-{construct:cat_level}">
    {/if}
    {/if}
        <li class="level-{construct:cat_level} cat-{exp:catcount cat_id='{construct:cat_id}'} subcat-{exp:catcount cat_id='{construct:cat_id}'}">
            <a class="tab-link" href="#" data-cat="{construct:cat_id}" data-ord="{construct:order-{embed:titlealt}}" data-type="{embed:type}" data-group="{construct:group_id}" data-toggle="tab">{if construct:title-alt-{embed:titlealt} != ""}{construct:title-alt-{embed:titlealt}}{if:else}{construct:cat_name}{/if}</a>
            {construct:children}
        </li>
    {if construct:level_count == construct:level_total_results}
    </ul>
    {/if}
{/exp:category_construct:categories}
{!-- hover code 
data-toggle="tab tooltip" {if construct:cat_description}data-placement="top" title="{construct:cat_description}"{/if}

--}

{!-- attempt at 3 levels 
<ul class="nav nav-tabs nav-stacked">
{exp:gwcode_categories cat_id="{embed:cat}" max_depth="5" incl_self="no" custom_fields="yes" style="linear" entry_count="yes"}
    {if depth == 3}
        {if entry_count == 0}
        <li class="level-1 no-ent sub-is-active"><a class="tab-link" href="#" data-cat="{cat_id}" data-toggle="tab tooltip" {if cat_description}data-placement="top" title="{cat_description}"{/if}>{if title-alt-r180-cra != ""}{title-alt-r180-cra}{if:else}{cat_name}{/if}</a>
        {if:else}
        <li class="level-1"><a class="tab-link" href="#" data-cat="{cat_id}" data-toggle="tab tooltip" {if cat_description}data-placement="top" title="{cat_description}"{/if}>{if title-alt-r180-cra != ""}{title-alt-r180-cra}{if:else}{cat_name}{/if}</a>
        {/if}
    {/if}

    {if depth4_start}
        <ul class="nav-stacked-sub-1">
    {/if}
    {if depth == 4}
            <li class="level-2"><a class="tab-link" href="#" data-cat="{cat_id}" data-toggle="tab tooltip" {if cat_description}data-placement="top" title="{cat_description}"{/if}>{if title-alt-r180-cra != ""}{title-alt-r180-cra}{if:else}{cat_name}{/if}</a>
    {/if}


    
    

    {if depth5_start}
        <ul class="nav-stacked-sub-2">
    {/if}
    {if depth == 5}
            <li class="level-3"><a class="tab-link" href="#" data-cat="{cat_id}" data-toggle="tab tooltip" {if cat_description}data-placement="top" title="{cat_description}"{/if}>{if title-alt-r180-cra != ""}{title-alt-r180-cra}{if:else}{cat_name}{/if}</a>
    {/if}
    {if depth5_end}
        </ul><!-- end of sub2 -->
    </li>
    {/if}

    {if depth == 4}
        {if has_children}
        {if:else}
        </li><!-- end of level 4 line -->
        {/if}
    {/if}
    
    {if depth4_end}
        </ul><!-- end of sub1 -->
    </li>
    {/if}


    {if depth == 3}
        {if has_children}
        {if:else}
        </li><!-- end of level 3 line -->
        {/if}
    {/if}
{/exp:gwcode_categories}
</ul>
 --}
{!-- Working for 2 levels
<ul class="nav nav-tabs nav-stacked">
{exp:gwcode_categories cat_id="{embed:cat}" max_depth="5" incl_self="no" custom_fields="yes" style="linear" entry_count="yes"}
    {if depth == 3}
        {if entry_count == 0}
        <li class="level-1 no-ent sub-is-active"><a class="tab-link" href="#" data-cat="{cat_id}" data-toggle="tab tooltip" {if cat_description}data-placement="top" title="{cat_description}"{/if}>{if title-alt-r180-cra != ""}{title-alt-r180-cra}{if:else}{cat_name}{/if}</a>
        {if:else}
        <li class="level-1"><a class="tab-link" href="#" data-cat="{cat_id}" data-toggle="tab tooltip" {if cat_description}data-placement="top" title="{cat_description}"{/if}>{if title-alt-r180-cra != ""}{title-alt-r180-cra}{if:else}{cat_name}{/if}</a>
        {/if}
    {/if}

    {if depth4_start}
        <ul class="nav-stacked-sub-1">
    {/if}
    {if depth == 4}
            <li class="level-2"><a class="tab-link" href="#" data-cat="{cat_id}" data-toggle="tab tooltip" {if cat_description}data-placement="top" title="{cat_description}"{/if}>{if title-alt-r180-cra != ""}{title-alt-r180-cra}{if:else}{cat_name}{/if}</a></li>
    {/if}
    {if depth4_end}
        </ul>
    </li>
    {/if}
    {if depth == 3}
        {if has_children}
        {if:else}
        </li>
        {/if}
    {/if}
{/exp:gwcode_categories}
</ul> --}
{!-- {exp:category_construct:categories parent_id="{embed:cat}" group_id="{embed:group}"}
    {if construct:cat_level == 1}
        {if construct:level_count == 1}
        <ul class="nav nav-tabs nav-stacked">
        {/if}
            <li class="level-1">
                <a class="tab-link" href="#" data-cat="{construct:cat_id}" data-toggle="tab tooltip" {if construct:cat_description}data-placement="top" title="{construct:cat_description}"{/if}>{if construct:title-alt-r180-cra != ""}{construct:title-alt-r180-cra}{if:else}{construct:cat_name}{/if}</a>
                {/if}
                {construct:children}
            </li>
        {if construct:level_count == construct:level_total_results}
        </ul>
        {/if}
    {if:elseif construct:cat_level == 2}
        {if construct:level_count == 1}
        <ul class="nav-stacked-sub-1">
        {/if}
            <li class="level-2">
                <a class="tab-link" href="#" data-cat="{construct:cat_id}" data-toggle="tab tooltip" {if construct:cat_description}data-placement="top" title="{construct:cat_description}"{/if}>{if construct:title-alt-r180-cra != ""}{construct:title-alt-r180-cra}{if:else}{construct:cat_name}{/if}</a>
            </li>

        {if construct:level_count == construct:level_total_results}
        </ul>
        {/if}
    {/if}
    {if:elseif construct:cat_level == 3}
        {if construct:level_count == 1}
        <ul class="nav-stacked-sub-2">
        {/if}
            <li class="level-3">
                <a class="tab-link" href="#" data-cat="{construct:cat_id}" data-toggle="tab tooltip" {if construct:cat_description}data-placement="top" title="{construct:cat_description}"{/if}>{if construct:title-alt-r180-cra != ""}{construct:title-alt-r180-cra}{if:else}{construct:cat_name}{/if}</a>
            </li>

        {if construct:level_count == construct:level_total_results}
        </ul>
        {/if}
    {/if}
{/exp:category_construct:categories} --}