{layout="layouts/index" classes="login 404"}
{exp:switchee variable="{segment_1}"}
    {case value="public|reviewer"}
    &nbsp;
    {/case}
    {case default="yes"}
    <section id="top-bar" class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                    <img class="sch-logo" src="{global:assets_base}/assets/images/scholastic-logo-top.png">
                </div>
            </div>
        </div>
    </section>
    {/case}
{/exp:switchee}
<div class="container main-content main-content-padded">
    <div class="row">
        <div class="col-xs-12 text-center">
            {exp:channel:entries
                channel="static_pages"
                disable="categories|member_data|pagination"
                limit="1"
                dynamic="no"
                url_title="page-not-found"
            }
            <h1>{if title_alt}{title_alt}{if:else}{title}{/if}</h1>
            {if segment_1 == "public" OR segment_1 == "reviewer"}
            {content}
            {if:else}
            Sorry, the page you are looking for cannot be found.<br>Please check the URL of the page you are looking for and re-enter it in the location bar.
            {/if}
            {/exp:channel:entries}
        </div>
    </div>
</div>