{!-- {if segment_1 != ''}
  {redirect="site/404"}
{if:else}
  {redirect="public"}
{/if}
 --}

{layout="layouts/layout-login" classes="login caa-home"}
<div class="container main-content main-content-padded">
    <div class="row">
        <div class="col-xs-12">
            <h1>CA Adoption 2015</h1>
        </div>
    </div>
</div>