{layout="layouts/layout-login" classes="login" title="Log In"}

{if logged_in}
    {redirect='public/redirect'}
{/if}

{if logged_out}
{snp_login}
<div class="container main-content" style="margin-bottom: 0; padding-bottom: 40px;">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 login-intro">
            <h1>Welcome</h1>
            <p>Welcome to the Scholastic California 2015 ELA/ELD Instructional Materials Adoption Review Site. If you are interested in reviewing Scholastic’s submissions, please fill out the Registration Form below.</p>
        </div>
        <div class="col-xs-4" style="text-align:center;">
            <div class="well login-box" style="margin-top: 30px;">
                {exp:freemember:login return="public/redirect" error_handling="inline" error_delimiters='<span class="error">|</span>'}
                    <legend>Log In</legend>
                    <div class="form-group">
                        <input value='' name="username" id="username" placeholder="Username" type="text" class="form-control" style="font-family:Arial, FontAwesome"/>
                        {error:username}
                    </div>
                    <div class="form-group">
                        <input id="password" value='' name="password" placeholder="Password" type="password" class="form-control" style="font-family:Arial, FontAwesome"/>
                        {error:password}
                        <a href="/public/account/forgot-password"><small>Forgot Password?</small></a>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary btn-login-submit" value="Sign In" />
                    </div>

                {/exp:freemember:login}

                {!-- {exp:authenticate:login_form
                    class="login-form"
                    return="/public/redirect"
                }
                    {if total_global_errors > 0}
                    <div class="alert alert-danger" role="alert">
                        <h4>Authentication Errors</h4>
                        <ul class="bullets">
                        {global_errors}
                            <li>{error}</li>
                        {/global_errors}
                        </ul>
                    </div>
                    {/if}
                    {if total_field_errors > 0}
                    <div class="alert alert-danger" role="alert">
                        <h4>Field Errors</h4>
                        <ul class="bullets">
                        {field_errors}
                            <li>{error}</li>
                        {/field_errors}
                        </ul>
                    </div>
                    {/if}
                    <legend>Log In</legend>
                    <div class="form-group">
                        <input value='' name="username" id="username" placeholder="Username" type="text" class="form-control" style="font-family:Arial, FontAwesome"/>
                    </div>
                    <div class="form-group">
                        <input id="password" value='' name="password" placeholder="Password" type="password" class="form-control" style="font-family:Arial, FontAwesome"/>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary btn-login-submit" value="Sign In" />
                    </div>
                {/exp:authenticate:login_form} --}
                {!-- {exp:member:login_form return="/caadoption/public/redirect"}
                    <legend>Login</legend>
                    <div class="form-group">
                        <input value='' name="username" id="username" placeholder="Username" type="text" class="form-control" style="font-family:Arial, FontAwesome"/>
                    </div>
                    <div class="form-group">
                        <input id="password" value='' name="password" placeholder="Password" type="password" class="form-control" style="font-family:Arial, FontAwesome"/>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary btn-login-submit" value="Sign In" />
                    </div>
                {/exp:member:login_form} --}
            </div>
        </div>
        <div class="col-xs-8" style="text-align:center;">
            <div class="well login-box" style="margin-top: 30px; height: 400px;">
                <legend>Registration Form</legend>
                {exp:freemember:register return="/public/account/thanks" error_handling="inline" error_delimiters='<span class="error">|</span>'}
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="username">Email</label><br />
                            <input value='{email}' name="email" id="email" type="text" class="form-control" placeholder="Enter your email address" tabindex="1  " />
                            <br />
                            {error:email}
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label><br />
                            <input value='{password}' name="password" id="password" type="password" class="form-control"  placeholder="Choose a password" tabindex="3" />
                            <br />
                            {error:password}
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="email_confirm">Email Confirm</label><br />
                            <input value='{email_confirm}' name="email_confirm" id="email_confirm" type="email" class="form-control" placeholder="Re-type your email address" tabindex="2"/>
                            <br />
                            {error:email_confirm}
                        </div>
                        <div class="form-group">
                            <label for="password_confirm">Confirm Password</label><br />
                            <input value='{password_confirm}' name="password_confirm" id="password_confirm" type="password" class="form-control" placeholder="Re-type your password" tabindex="4" />
                            <br />
                            {error:password_confirm}
                        </div>
                        
                    </div>
                    <div class="col-xs-6 col-xs-offset-3">
                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-primary btn-login-submit" value="Submit" />
                        </div>
                    </div>
                </div>
                {exp:snaptcha:field}
                {/exp:freemember:register}
            </div>
        </div>
    </div>
</div>
{/if}