{layout="layouts/layout-login" classes="login" title="Log In"}

{if logged_in}
    {redirect='reviewer/redirect'}
{/if}

{if logged_out}
{snp_login}
<div class="container main-content" style="margin-bottom: 0; padding-bottom: 40px;">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 login-intro">
            <h1>Welcome, California Reviewers!</h1>

            <p>Thank you for reviewing Scholastic’s submission to the 2015 California English Language Arts/English Language Development instructional materials adoption. Follow these steps to experience <strong>Program 4, <em>READ 180</em> Universal</strong>, or <strong>Program 5, <em>English 3D</em></strong>:</p>
            <ol>
                <li>Find your username and password on the Welcome Letter in your<br>California Reviewer Welcome Kit.</li>
                <li>Enter your username and password.</li>
                <li>Contact us with questions. </li>
            </ol>
        </div>
        <div class="col-xs-4 col-xs-offset-4" style="text-align:center;">
            <div class="well login-box" style="margin-top: 30px;">
            {exp:freemember:login return="reviewer/redirect" error_handling="inline" error_delimiters='<span class="error">|</span>'}
                <legend>Log In</legend>
                <div class="form-group">
                    <input value='' name="username" id="username" placeholder="Username" type="text" class="form-control" style="font-family:Arial, FontAwesome"/>
                    {error:username}
                </div>
                <div class="form-group">
                    <input id="password" value='' name="password" placeholder="Password" type="password" class="form-control" style="font-family:Arial, FontAwesome"/>
                    {error:password}
                </div>
                <div class="form-group text-center">
                    <input type="submit" class="btn btn-primary btn-login-submit" value="Sign In" />
                </div>

            {/exp:freemember:login}
               {!--  {exp:authenticate:login_form
                    class="login-form"
                    return="/reviewer/redirect"
                }
                    {if total_global_errors > 0}
                    <div class="alert alert-danger" role="alert">
                        <h4>Authentication Errors</h4>
                        <ul class="bullets">
                        {global_errors}
                            <li>{error}</li>
                        {/global_errors}
                        </ul>
                    </div>
                    {/if}
                    {if total_field_errors > 0}
                    <div class="alert alert-danger" role="alert">
                        <h4>Field Errors</h4>
                        <ul class="bullets">
                        {field_errors}
                            <li>{error}</li>
                        {/field_errors}
                        </ul>
                    </div>
                    {/if}
                    <legend>Log In</legend>
                    <div class="form-group">
                        <input value='' name="username" id="username" placeholder="Username" type="text" class="form-control" style="font-family:Arial, FontAwesome"/>
                    </div>
                    <div class="form-group">
                        <input id="password" value='' name="password" placeholder="Password" type="password" class="form-control" style="font-family:Arial, FontAwesome"/>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary btn-login-submit" value="Sign In" />
                    </div>
                {/exp:authenticate:login_form} --}
                {!--  {exp:member:login_form return="/caadoption/reviewer/redirect"}
                    <legend>Login</legend>
                    <div class="form-group">
                        <input value='' name="username" id="username" placeholder="Username" type="text" class="form-control" style="font-family:Arial, FontAwesome"/>
                    </div>
                    <div class="form-group">
                        <input id="password" value='' name="password" placeholder="Password" type="password" class="form-control" style="font-family:Arial, FontAwesome"/>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary btn-login-submit" value="Sign In" />
                    </div>
                {/exp:member:login_form} --}
            </div>
        </div>
    </div>
</div>
{!-- <div id="modalMessage" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background: red;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><img src="http://caadoption.scholastic.com/assets/images/scholastic-logo-top.png" style="maring: 0 auto;"></h4>
      </div>
      <div class="modal-body">
        <p>Dear Program 4 and Program 5 Reviewers,</p>
 
        <p>The <em>READ 180</em> Universal and <em>English 3D</em> California Adoption Reviewer websites will be live <strong>Friday, May 15</strong>. Please wait until this Friday to begin your review process. We appreciate your taking the time to review these programs. We look forward to partnering with you on this important work.</p>
 
        <p>Regards,<br><br>
        The Scholastic Education Team </p>
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{layout:set name="bottom_js_add"}
<script type="text/javascript">
    $(window).load(function(){
        $('#modalMessage').modal('show');
    });
</script>
{/layout:set} --}
{/if}