{layout="layouts/index" classes="login" title="Log In"}

<div class="container main-content main-content-padded">
    <div class="row">
        <div class="col-xs-12">
            {exp:channel:entries
                channel="static_pages"
                disable="categories|member_data|pagination"
                limit="1"
                url_title="{last_segment}"
            }
            <h1>{if title_alt}{title_alt}{if:else}{title}{/if}</h1>
            {content}
            {/exp:channel:entries}
        </div>
    </div>
</div>