{layout="layouts/layout-login" classes="login" title="Log In"}

{if logged_out}
	{redirect='public'}
{/if}

{if member_group == "7"}
    {redirect='reviewer/read-180'}
{if:elseif member_group == "8"}
    {redirect='reviewer/e3d'}
{/if}

{if logged_in}

{snp_login}

<div class="container main-content" style="margin-bottom: 0; padding-bottom: 40px;">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 login-intro">
        	<h1 class="text-center">Choose a site.</h1>
            <p>Scholastic is pleased to submit two programs for the California 2015 ELA/ELD Instructional Materials Adoption:
            <ul><li><em>READ 180</em> Universal is submitted for Program 4—Intensive Intervention Program in English Language Arts, Grades Four through Eight</li>
            <li><em>English 3D</em> is submitted for Program 5—Specialized Designated English Language Development Program, Grades Four through Eight</li></ul>
            </p>
        	<div class="row" style="margin: 80px 0 0 0;">
        		<div class="col-xs-6 text-center">
        			<a href="/public/read-180/"><img src="{global:assets_base}/assets/images/read-180-logo-final-195.png" alt="READ 180" style="margin: 10px auto;"></a>
        		</div>
        		<div class="col-xs-6 text-center">
        			<a href="/public/e3d/"><img src="{global:assets_base}/assets/images/e3d-logo-final-100.png" alt="English 3D" style="margin: 0 auto;"></a>
        		</div>
        	</div>
        </div>
    </div>
</div>
{/if}