{layout="layouts/layout-login" classes="login" title="Log In"}

{if logged_out}
	{redirect='reviewer'}
{/if}

{if logged_in}
{snp_login}
<div class="container main-content" style="margin-bottom: 0; padding-bottom: 40px;">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 login-intro">
            {if member_group == "1" OR member_group == "6" OR member_group == "9"} 
            	<h1 class="text-center">Choose a site</h1>
            	<div class="row" style="margin: 80px 0 0 0;">
            		<div class="col-xs-6 text-center">
            			<a href="/reviewer/read-180/"><img src="{global:assets_base}/assets/images/read-180-logo-final-195.png" alt="READ 180" style="margin: 10px auto;"></a>
            		</div>
            		<div class="col-xs-6 text-center">
            			<a href="/reviewer/e3d/"><img src="{global:assets_base}/assets/images/e3d-logo-final-100.png" alt="English 3D" style="margin: 0 auto;"></a>
            		</div>
            	</div>
            {if:elseif member_group == "7"}
            	{redirect='reviewer/read-180'}
            {if:elseif member_group == "8"}
            	{redirect='reviewer/e3d'}
            {if:else}
            	<p>You are not allowed to view this page. You can log out and re-enter your credentials by clicking below.</p>
                <p><a class="btn btn-primary btn-login-submit" href="{exp:freemember:logout_url return='reviewer'}">Logout</a></p>
            	{!-- <p><a class="btn btn-primary btn-login-submit" href="{exp:authenticate:logout_url return='/reviewer'}">Logout</a></p> --}
            {/if}
        </div>
    </div>
</div>
{/if}