{exp:ce_cache:it id="tc-c" seconds="3600"}
{if segment_3== "36"}
<div class="row">
    <div class="col-xs-4" class="text-center">
        <img src="{global:assets_base}/assets/images/logo-read180-340.png" style="margin:-10px auto 0 auto; padding: 0 20px;" class="img-responsive">
    </div>
    <div class="col-xs-8">
        <h3>Individualized Learning<br>Technology Content</h3>
        <p>The <em>READ 180</em> Universal Individualized Learning Technology allows students to follow an individualized learning path that accelerates them to proficiency in reading, academic vocabulary and language, and writing.</p>
        {embed="_embeds/tab_content_list" cat="36"}
    </div>
</div>
{if:else}
{exp:channel:entries
    channel="resources"
    disable="member_data|pagination"
    dynamic="no"
    category="{segment_3}"
    orderby="title"
    sort="asc"
}

{if count == "1"}
	{exp:switchee variable="{segment_3}"}
		{case value='{lv_diff_res_cats}'}
		{lv_diff_res_copy}
		<hr>
		{/case}
		{case value='{lv_class_res_cats}'}
		{lv_class_res_copy}
		<hr>
		{/case}
	{/exp:switchee}

	{exp:gwcode_categories cat_id="{segment_3}" custom_fields="no" style="linear" limit="1"}
		{if cat_description}
			<p>{cat_description}</p>
		{/if}
	{/exp:gwcode_categories}
{/if}

{switch='<div class="row">|||'}

{if res_file_type=="app"}
	<div class="col-xs-3 doc-block clickable">
	    <img src="{global:assets_base}/assets/images/icon-document.png"><br>
	    <p>{if res_title_alt}{res_title_alt}{if:else}{title}{/if}</p>
	    <p><a class="clickable-link" href="{res_flash_app}{res_flash_app:flash_path_to_swf}{/res_flash_app}" target="_blank">Launch</a></p>
	</div>
{if:elseif res_file_type=="app-link"}
	<div class="col-xs-3 doc-block clickable">
	    <img src="{global:assets_base}/assets/images/icon-document.png"><br>
	    <p>{if res_title_alt}{res_title_alt}{if:else}{title}{/if}</p>
	    <p><a class="clickable-link" href="{res_link}" target="_blank">View</a></p>
	</div>
{if:elseif res_file_type=="video"}
	<div class="col-xs-3 doc-block">
		<a class="video-link" href="#vid-{url_title}"><img src="{global:assets_base}/assets/images/icon-video.png"></a><br>
		<p>{if res_title_alt}{res_title_alt}{if:else}{title}{/if}</p>
	    <p><a class="video-link" href="#vid-{url_title}" data-vid="video-{url_title}">Watch</a></p>
	    <div id="vid-{url_title}" class="video-popup mfp-hide">
	    	<video id="video-{url_title}" class="video-js vjs-default-skin"
	    		controls preload="none" width="auto" height="auto"
	    	  	poster="{global:s3_base}/images/scholastic-video-poster.jpg"
	    	  	data-setup=''>
	    	 	<source src="{res_file}{url}{/res_file}" type='video/mp4' />
	    	 	<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
	    	</video>
		</div>
	</div>
{if:elseif res_file_type=="audio"}
	<div class="col-xs-3 doc-block">
		<a class="video-link" href="#aud-{url_title}"><img src="{global:assets_base}/assets/images/icon-audio.png"></a><br>
		<p>{if res_title_alt}{res_title_alt}{if:else}{title}{/if}</p>
	    <p><a class="video-link" href="#aud-{url_title}">Listen</a></p>
	    <div id="aud-{url_title}" class="white-popup popup-audio mfp-hide text-center">
	    	<h3 style="margin-bottom: 40px;">{title}</h3>
		    <audio controls>
	          <source src="{res_file}" type="audio/mpeg" preload="none">
	        Your browser does not support the audio element. You can download the mp3 <a href="{res_file}" target="_blank">here</a>.
	        </audio>
		</div>
	</div>
{if:elseif res_file_type=="slideshow"}
	<div class="col-xs-3 doc-block clickable">
	    <img src="{global:assets_base}/assets/images/icon-document.png" {if res_description}data-toggle="tooltip" data-placement="top" title="{res_description}"{/if}><br>
	    <p>{if res_title_alt}{res_title_alt}{if:else}{title}{/if}</p>
	    <p><a class="clickable-link" href="{res_file}" target="_blank" {if res_description}data-toggle="tooltip" data-placement="top" title="{res_description}"{/if}>View</a></p>
	</div>
{if:else}
	<div class="col-xs-3 doc-block clickable" {if res_description}data-toggle="tooltip" data-placement="top" title="{res_description}"{/if}>
	    <img src="{global:assets_base}/assets/images/icon-document.png"><br>
	    <p>{if res_title_alt}{res_title_alt}{if:else}{title}{/if}</p>
	    <p><a class="clickable-link" href="{res_file}" target="_blank" >Read</a></p>
	    {if res_description}
	    <p class="res-description res-description-icon">{res_description}</p>
	    {/if}
	</div>
{/if}

{if count != total_results}{switch='|||</div>'}{/if}
{if count == total_results}</div>{/if}
{/exp:channel:entries}
{/if}
{/exp:ce_cache:it}