{exp:ce_cache:it id="tc-ir" seconds="3600"}
{exp:channel:entries
    channel="resources"
    disable="member_data|pagination"
    dynamic="no"
    category="{segment_3}"
    orderby="title"
    sort="asc"
}
{if count == "1"}
    {exp:gwcode_categories cat_id="{segment_3}" custom_fields="no" style="linear" limit="1"}
        {if cat_description}
        <div class="row">
            <div class="col-xs-12">
                <p style="padding-right: 20px;">{cat_description}</p>
            </div>
        </div>
        {/if}
    {/exp:gwcode_categories}

    {if segment_3=="187"}
        <div class="row">
        {embed="_embeds/public_samples" bk-title="reservation-superstars"}
        </div>
        <hr>
    {/if}
    {if segment_3=="189"}
        <div class="row">
        {embed="_embeds/public_samples" bk-title="i-mean-business"}
        </div>
        <hr>
    {/if}
{/if}
{switch='<div class="row">||'}
{if res_file_type=="pb"}
	<div class="col-xs-4 book-group clearfix">
        {exp:ce_img:pair src="{res_cover:url}" width="130" crop="no" quality="84"}
        <img class="book-thumb" src="{global:assets_base}{made}" alt="{title}" width="{width}" height="{height}" />
        {/exp:ce_img:pair}
        {!--<img class="book-thumb" src="http://www.placehold.it/130x172"> --}
        <div class="book-info">
            <h4>{if res_title_alt}{res_title_alt}{if:else}{title}{/if}</h4>
            {if segment_3=="181" OR segment_3=="180"}
            {if res_quiz}<a class="btn btn-link" href="{res_quiz}" target="_blank">View Quiz</a>{/if}
            {/if}
        </div>
    </div>
{if:elseif res_file_type=="audio"}
	<div class="col-xs-4 book-group clearfix">
        {exp:ce_img:pair src="{res_cover:url}" width="130" crop="no" quality="84"}
        <img class="book-thumb" src="{global:assets_base}{made}" alt="{title}" width="{width}" height="{height}" />
        {/exp:ce_img:pair}
        {!-- <img class="book-thumb" src="http://www.placehold.it/130x172"> --}
        <div class="book-info">
            <h4>{if res_title_alt}{res_title_alt}{if:else}{title}{/if}</h4>
            {if segment_3=="22"}
            {if res_file}<a class="btn btn-link video-link" href="#aud-{url_title}" >Listen</a>{/if}
            {if res_quiz}<a class="btn btn-link" href="{res_quiz}" target="_blank">View Quiz</a>{/if}
            {/if}

        </div>
        <div id="aud-{url_title}" class="white-popup popup-audio mfp-hide text-center">
            <h3 style="margin-bottom: 40px;">{title}</h3>
            <audio controls type="audio/mp3">
                <source src="{res_file}?headers=Accept-Ranges%3A+bytes" type="audio/mpeg">
                Your browser does not support the audio element. You can download the mp3 <a href="{res_file}" target="_blank">here</a>.
            </audio>
        </div>
    </div>
{if:elseif res_file_type=="eread" OR res_file_type=="ebook"}
	<div class="col-xs-4 book-group clearfix">
        {exp:ce_img:pair src="{res_cover:url}" width="130" crop="no" quality="84"}
        <img class="book-thumb" src="{global:assets_base}{made}" alt="{title}" width="{width}" height="{height}" />
        {/exp:ce_img:pair}
        {!-- <img class="book-thumb" src="http://www.placehold.it/130x172"> --}
        <div class="book-info">
            <h4>{if res_title_alt}{res_title_alt}{if:else}{title}{/if}</h4>
            {if segment_3=="23" OR segment_3=="183" OR segment_3=="182"}
            {if res_file}<a class="btn btn-link" href="{res_file}" target="_blank">Read Sample</a><br>{/if}
            {if res_quiz}<a class="btn btn-link" href="{res_quiz}" target="_blank">View Quiz</a>{/if}
            {/if}
            {if segment_3=="176"}
                {if res_description}<p>{res_description}</p>{/if}
            {/if}
        </div>
    </div>
{/if}
{if count != total_results}{switch='||</div>'}{/if}
{if count == total_results}</div>{/if}
{/exp:channel:entries}
{/exp:ce_cache:it}