{layout="layouts/index" classes="about-e3d e3d"}

<a class="nav-arrow next-arrow" href="/public/e3d/review-content/"><img src="http://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/next-arrow.png"></a>
<a class="nav-arrow back-arrow" href="/public/e3/framework/"><img src="http://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/back-arrow.png"></a>

<div class="container main-content">
    {snp_subnav_home_e3d}
   
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h1>About <em>English 3D</em></h1>
            <p class="intro">Developed with Dr. Kate Kinsella, the nation’s leading scholar in the instruction and achievement of English learners, <em>English 3D</em> is an English Language Development program designed to ensure proficiency in the academic vocabulary, speaking and listening, and writing that is vital to success in school and life.</p>
            

        </div>
    </div>
   {!--  <ul class="circle-nav-wrap circle-nav-wrap-alt circle-nav-no-icons circle-nav-tabs">
    
       <li class="active"> <a class="circle-nav " href="#the-student" data-toggle="tab">
               The Student
               </a></li>
       <li> <a class="circle-nav" href="#the-teacher" data-toggle="tab">
               The Teacher
               </a></li>
        <li><a class="circle-nav" href="#the-partnership" data-toggle="tab">
                The Partnership
                </a></li>
    </ul>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 tab-content" role="tabpanel">
            <div id="the-student" class="active about-bubble tab-pane fade in" >
                <img class="about-bubble-bg" src="{global:assets_base}/assets/images/about-read-180-student.jpg">
                <div class="about-bubble-content">
                   <p><strong>The Student</strong><br>
                   <em>English 3D</em> addresses the specific needs of English learners, including those students at risk of becoming long-term English learners. The program provides a dedicated context for explicit and informed language instruction that reengages discouraged English learners and equips them with the critical skills they need to realize their academic potential. </p>
                   

                </div>
            </div>
            <div id="the-teacher" class="about-bubble tab-pane fade">
                <img class="about-bubble-bg" src="{global:assets_base}/assets/images/about-read-180-teacher1.jpg">
                <div class="about-bubble-content">
                   <p><strong>The Teacher</strong><br>
                     <em>English 3D</em> provides educators with comprehensive support for helping their students accelerate their English language development. The <em>English 3D</em> teaching materials provide educators with the instructional and assessment tools and resources they need, as well as program-embedded professional learning, to facilitate their students’ acquisition of academic vocabulary and language, speaking and listening, and writing skills.
                 </p>
                   

                </div>
            </div>
            
            <div id="the-partnership" class="about-bubble tab-pane fade">
                <img class="about-bubble-bg" src="{global:assets_base}/assets/images/about-read-180-partnership.jpg">
                <div class="about-bubble-content">
                   <p><strong>The Partnership</strong><br>
                  A partnership with Scholastic means that we will build a school within your school to fully support your teachers and administrators in maximizing instructional time in order to accelerate student achievement for your English language learners. We will work hand in hand with you to build a customized plan for professional learning and coaching that meets your school’s and district’s unique needs.</p>
                </div>
            </div>
        </div>
    </div> --}

</div>