{layout="layouts/index" classes="review-content e3d"}
{exp:ce_cache:it id="e3dp-rc" seconds="3600"}

{if segment_4 ==""}
<div class="container main-content">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2" style="padding-top: 30px;">
            <h1>Select Program Component</h1>
            <p class="intro">We have organized all of the program resources across three key categories: Assessment, Student Materials, and Independent Reading. Click on one of the three components below to explore.</p>

        </div>
        <div class="circle-nav-wrap">
            <a class="circle-nav" href="/{segment_1}/{segment_2}/review-content/assessment/">
                <i class="fa fa-pencil-square-o"></i><br>
                Assessment
            </a>
            <a class="circle-nav" href="/{segment_1}/{segment_2}/review-content/student-materials/">
                <i class="fa fa-user"></i><br>
                Student Materials
            </a>
            <a class="circle-nav" href="/{segment_1}/{segment_2}/review-content/independent-reading/">
                <i class="fa fa-book"></i><br>
                Independent Reading
            </a>
        </div>
    </div>
</div>
{if:elseif segment_4 == "assessment"}
<div class="container main-content">
    {snp_subnav_review_e3d_public}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 intro margin-top-0">
            <p class="disclaimer">Note to reviewers: Scholastic Inc. does not have permission to display all <span class="nobr"><em>English 3D</em></span> content in digital format.</p>
        </div><!-- /.col-xs-10 -->
    </div><!-- /.row -->
    <div class="container">
        <div role="tabpanel">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs main-tabs" id="main-tabs" role="tablist">
                        <!--top level tabs-->
                        <li class="active"><a href="#pane1" data-toggle="tab"><em>Scholastic Reading<br> Inventory</em></a></li>
                        <li><a href="#pane2" data-toggle="tab">Issue<br>Tests</a></li>
                        <li><a href="#pane3" data-toggle="tab">Individual Language<br>Inventory (Part 1)</a></li>
                        <li><a href="#pane4" data-toggle="tab">Individual Language<br>Inventory (Part 2)</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="tab-content tab-content-main">
                        <!-- SRI tab -->
                        <div class="tab-pane tab-pane-full active" id="pane1">
                            <div class="row">
                                <div class="col-xs-5 text-center">
                                    <img src="{global:assets_base}/assets/images/logo-sri-360.jpg" style="margin:10px;">
                                </div>
                                <div class="col-xs-7">
                                    <h3><em>Scholastic Reading Inventory</em> (SRI)</h3>
                                    <p>SRI is a proven universal screener and progress-monitoring assessment that measures reading growth on the Lexile Framework for Reading.  </p>
                                    {embed="_embeds/tab_content_list" cat="199"}
                                </div>
                            </div>
                        </div>
                        <!-- Issue Tests tab -->
                        <div class="tab-pane tab-pane-full " id="pane2">
                            <div class="row">
                                <div class="col-xs-12 tabs-right">
                                    <div class="tab-content">
                                        <div class="tab-pane tab-pane-full active">
                                            {embed="_embeds/tab_content_order" cat="198" set="group-5"}
                                        </div>
                                    </div>
                                </div><!-- /.col-xs-12 -->
                            </div>
                        </div>
                        <!-- Individual Language Inventory (Part 1) tab -->
                        <div class="tab-pane tab-pane-full " id="pane3">
                            <div class="row">
                                <div class="col-xs-12 tabs-right">
                                    <div class="tab-content">
                                        <div class="tab-pane tab-pane-full active">
                                            {embed="_embeds/tab_content_order" cat="197" set="group-5"}
                                        </div>
                                    </div>
                                </div><!-- /.col-xs-12 -->
                            </div>
                        </div>
                        <!-- Individual Language Inventory (Part 2) tab -->
                        <div class="tab-pane tab-pane-full " id="pane4">
                            <div class="row">
                                <div class="col-xs-12 tabs-right">
                                    <div class="tab-content">
                                        <div class="tab-pane tab-pane-full active">
                                            {embed="_embeds/tab_content_order" cat="196" set="group-5"}
                                        </div>
                                    </div>
                                </div><!-- /.col-xs-12 -->
                               
                            </div>
                        </div>
                    </div><!-- /.tab-content -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /tabpanel -->
    </div>
</div><!-- /.main-content -->
{if:elseif segment_4 == "student-materials"}
<div class="container main-content">
    {snp_subnav_review_e3d_public}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 intro margin-top-0">
            <p class="disclaimer">Note to reviewers: Scholastic Inc. does not have permission to display all <span class="nobr"><em>English 3D</em></span> content in digital format.</p>
        </div><!-- /.col-xs-10 -->
    </div><!-- /.row -->
    <div class="container">
        <div role="tabpanel">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs main-tabs" id="main-tabs" role="tablist">
                        <!--top level tabs-->
                        <li class="active"><a href="#pane1" data-toggle="tab"><em>Issues</em> Book</a></li>
                        <li class=""><a href="#pane2" data-toggle="tab">Language & Writing Portfolio</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="tab-content tab-content-main">
                        <!-- Issues -->
                        <div class="tab-pane tab-pane-full active" id="pane1">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="tab-content">
                                        <div class="tab-pane tab-pane-full active">
                                            {embed="_embeds/tab_content_order" cat="195" set="group-5"}
                                        </div>
                                    </div>
                                </div><!-- /.col-xs-12 -->
                            </div>
                        </div>
                        <!-- Language & Writing Portfolio tab -->
                        <div class="tab-pane tab-pane-full " id="pane2">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="tab-content">
                                    {embed="_embeds/tab_content_order" cat="194" set="group-5"}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.tab-content -->
        </div><!-- /tabpanel -->
    </div>
</div><!-- /.main-content -->    
{if:elseif segment_4 == "independent-reading"}
<div class="container main-content">
    {snp_subnav_review_e3d_public}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 intro margin-top-0">
            <p class="intro">The Independent Reading Library presents students with a choice of age-appropriate, relevant books they can read with success. Through the Independent Reading Library, students are exposed to a range of challenging, high-quality informational and literary texts that span genres, cultures, and eras. </p>
            <p class="disclaimer">Note to reviewers: Scholastic Inc. does not have permission to display all <span class="nobr"><em>English 3D</em></span> content in digital format.</p>
        </div><!-- /.col-xs-10 -->
    </div><!-- /.row -->
    {!-- <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
           <p class="intro" style="margin-top: 0;">During Independent Reading in <em>READ 180</em> Universal, students engage with complex, content-rich literature and informational texts that they can read with success and apply their newly acquired vocabulary and comprehension skills. Students will encounter a variety of text formats during Independent Reading including Paperbacks, eBooks, eReads and Audiobooks. You will have the opportunity to explore all of these texts formats in the corresponding below tabs.</p>
        </div><!-- /.col-xs-8 -->
    </div><!-- /.row --> --}
    <div class="container">
        <div role="tabpanel">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs main-tabs" id="main-tabs" role="tablist">
                        <!--top level tabs-->
                        <li class="active"><a href="#pane1" data-toggle="tab">Course A Paperbacks</a></li>
                        <li class=""><a href="#pane2" data-toggle="tab">Course I Paperbacks</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="tab-content tab-content-main">
                        <!-- Paperbacks tab -->
                        <div class="tab-pane active" id="pane1">
                            <div class="row">
                                <div class="col-xs-12 tabs-right">
                                    <div class="tab-content">
                                        <div class="tab-pane tab-pane-full active">
                                            {embed="_embeds/tab_content_ir" cat="200"}
                                        </div>
                                    </div>
                                </div><!-- /.col-xs-9 -->
                            </div><!-- /.row -->
                        </div><!-- /.tab-pane -->

                        <!-- Paperbacks2 tab -->
                        <div class="tab-pane " id="pane2">
                            <div class="row">
                                <div class="col-xs-12 tabs-right">
                                    <div class="tab-content">
                                        <div class="tab-pane tab-pane-full active">
                                            {embed="_embeds/tab_content_ir" cat="202"}
                                        </div>
                                    </div>
                                </div><!-- /.col-xs-9 -->
                            </div><!-- /.row -->
                        </div><!-- /.tab-pane -->
                    </div>
                </div>
            </div><!-- /.tab-content -->
        </div><!-- /tabpanel -->
    </div>
</div><!-- /.main-content -->
{/if}
{/exp:ce_cache:it}