{layout="layouts/index" classes="framework e3d" title="E3D Framework"}

<a class="nav-arrow next-arrow" href="/reviewer/e3d/about-english-3d/"><img src="http://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/next-arrow.png"></a>
<a class="nav-arrow back-arrow" href="/reviewer/e3d/"><img src="http://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/back-arrow.png"></a>

<div class="container main-content">
    {snp_subnav_home_e3d}
   
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h1>Framework</h1>
            <p class="intro"><em>English 3D</em> was built to address the five themes that encapsulate the California English Language Arts/English Language Development Framework: Meaning Making, Language Development, Effective Expression, Content Knowledge, and Foundational Skills. These themes informed the development of <span class="nobr"><em>English 3D</em></span>  and are embedded in the pedagogy and instructional practice that serve as the foundation for effective teaching and learning with the program. Below we have provided an overview of how <span class="nobr"><em>English 3D</em></span> addresses these five themes,  as well as insights from our program author, Dr. Kate Kinsella, that demonstrate how we turn theory into practice. Click on each theme to learn more.</p>
        </div>
    </div>
    <div class="framework-chart">
        <img class="framework-chart-bg" src="{global:s3_base}/images/r180-framework-graphic-rev.png">
        <div id="chart-text-1" class="framework-chart-text"><p>“Meaning making should be the central purpose for interacting with text, producing text, participating in discussions, giving presentations, and engaging in research.”</p>
        </div>
        <div id="chart-text-2" class="framework-chart-text"><p>“It is the medium of literacy and learning; it is with and through language that students learn, think, and express.”</p>
        </div>
        <div id="chart-text-3" class="framework-chart-text"><p>“In order for students to independently learn with and enjoy text and express themselves through written language they should develop facility with the alphabetic code.”</p>
        </div>
        <div id="chart-text-4" class="framework-chart-text"><p>“Reciprocity is key; content knowledge helps build reading, writing, and language, and literacy helps build content knowledge.”</p>
        </div>
        <div id="chart-text-5" class="framework-chart-text"><p>“Effective expression in writing, discussing, and presenting depends on drawing clear understandings from and interacting with oral, written, and visual texts.”</p>
        </div>
        <div id="chart-link-1" class="framework-chart-link" data-toggle="modal" data-target="#chart-pop-1"></div>
        <div id="chart-link-2" class="framework-chart-link" data-toggle="modal" data-target="#chart-pop-2"></div>
        <div id="chart-link-3" class="framework-chart-link" data-toggle="modal" data-target="#chart-pop-3"></div>
        <div id="chart-link-4" class="framework-chart-link" data-toggle="modal" data-target="#chart-pop-4"></div>
        <div id="chart-link-5" class="framework-chart-link" data-toggle="modal" data-target="#chart-pop-5"></div>
        <!-- Modal -->
        <div class="modal fade" id="chart-pop-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <img class="close blue-close" src="{global:assets_base}/assets/images/close-button.png" data-dismiss="modal" aria-label="Close">
                        <h3 class="text-center">Meaning Making</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <p>With the right support, English language learners can develop the skills they need to read and extract meaning from texts. In <em>English 3D</em>, students use strategies, such as close reading and citing text-based evidence, that enable them to make direct connections and inferences. Whether reading literature or discipline-based informational texts in <em>English 3D</em>, these metacognitive techniques help to make their time spent with text more enriching; more meaningful. </p> 
                            </div>
                            <div class="col-xs-6">
                                <h4>Author</h4>
                                <p><img src="{global:assets_base}/assets/images/kate-kinsella-200.jpg"></p>
                                <p>Dr. Kate Kinsella<br>
								<em>English 3D</em> Program Author<br>
								Center for Teacher Efficacy<br>
								San Francisco State University<br>
								</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="chart-pop-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <img class="close blue-close" src="{global:assets_base}/assets/images/close-button.png" data-dismiss="modal" aria-label="Close">
                        <h3 class="text-center">Language Development</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <p>Effective language acquisition includes understanding and navigating the syntax of the English language while engaging the use of an expansive academic vocabulary. For students, mastery of these skills takes consistent practice and support, both of which are embedded as part of the <em>English 3D</em> curriculum. The program is designed to foster daily discussion, production, and analysis of vocabulary, academic language, syntax, and text structure. </p> 
                            </div>
                            <div class="col-xs-6">
                                <h4>Author</h4>
                                <p><img src="{global:assets_base}/assets/images/kate-kinsella-200.jpg"></p>
                                <p>Dr. Kate Kinsella<br>
								<em>English 3D</em> Program Author<br>
								Center for Teacher Efficacy<br>
								San Francisco State University<br>
								</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="chart-pop-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <img class="close blue-close" src="{global:assets_base}/assets/images/close-button.png" data-dismiss="modal" aria-label="Close">
                        <h3 class="text-center">Foundational Skills</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <p>Systematic language and literacy instruction further strengthens foundational reading skills for English language learners. Reading fluency is critical to the success of English learners as they navigate the contextual nuances of the English language. In addition to instruction focused on academic vocabulary, oral expression, and writing development, <em>English 3D</em> provides instructional routines for building reading fluency, helping students read actively and with accountability.</p>
                            </div>
                            <div class="col-xs-6">
                                <h4>Author</h4>
                                <p><img src="{global:assets_base}/assets/images/kate-kinsella-200.jpg"></p>
                                <p>Dr. Kate Kinsella<br>
								<em>English 3D</em> Program Author<br>
								Center for Teacher Efficacy<br>
								San Francisco State University<br>
								</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="chart-pop-4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <img class="close blue-close" src="{global:assets_base}/assets/images/close-button.png" data-dismiss="modal" aria-label="Close">
                        <h3 class="text-center">Content Knowledge</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <p>Helping English language learners open the door to content areas, improved background knowledge, and deepened comprehension with strategies that help them tackle the differences in text structure, syntax, and meaning across the disciplines is key to their long-term academic success. <em>English 3D</em> is the framework English learners need to formulate their thoughts about concepts, access the language they need to synthesize those thoughts, and communicate them effectively.</p>
                            </div>
                            <div class="col-xs-6">
                                <h4>Author</h4>
                                <p><img src="{global:assets_base}/assets/images/kate-kinsella-200.jpg"></p>
                                <p>Dr. Kate Kinsella<br>
								<em>English 3D</em> Program Author<br>
								Center for Teacher Efficacy<br>
								San Francisco State University<br>
								</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="chart-pop-5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <img class="close blue-close" src="{global:assets_base}/assets/images/close-button.png" data-dismiss="modal" aria-label="Close">
                        <h3 class="text-center">Effective Expression</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <p><em>English 3D</em> students deepen their understanding and ability to read, write, speak, and listen effectively with lessons designed to support academic discourse and written and oral debate while building linguistic confidence and competence. By taking a stance on a topic both in writing and verbally, students receive valuable practice sharing their opinions and supporting their arguments to peer groups.</p>
                            </div>
                            <div class="col-xs-6">
                                <h4>Author</h4>
                                <p><img src="{global:assets_base}/assets/images/kate-kinsella-200.jpg"></p>
                                <p>Dr. Kate Kinsella<br>
								<em>English 3D</em> Program Author<br>
								Center for Teacher Efficacy<br>
								San Francisco State University<br>
								</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>