{layout="layouts/index" title="E3D"}

{if segment_3==""}
{layout:set name="classes" value="home e3d"}

<a class="nav-arrow next-arrow" href="/reviewer/e3d/framework/"><img src="http://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/next-arrow.png"></a>

<div class="container main-content">
    {snp_subnav_home_e3d}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
           	<h1>Welcome</h1>
            <p class="intro">Scholastic shares California’s goal of empowering all students with communicative competence and confidence.</p>
            <p class="intro"><em>English 3D</em> was built to meet the needs of long-term English learners—your students who:</p>
            <ul class="intro">
                <li>May have lived most or all of their lives in the United States</li>
                <li>Are orally bilingual</li>
                <li>Sound like native English speakers but do not have well-developed academic literacy skills in English</li>
            </ul>
            <p class="intro"><em>English 3D</em>’s Specialized English Language Development instruction addresses the individual needs of students across the spectrum of language acquisition, ensuring efficient and effective acceleration. <span class="nobr"><em>English 3D</em></span> will prepare students who place at the Expanding or Bridging level of English language acquisition and put them on an intensive, accelerated pathway to becoming lifelong language learners.</p>
            <p class="intro">Meet Francie Alexander, Chief Academic Officer for Scholastic, and Dr. Kate Kinsella, <span class="nobr"><em>English 3D</em></span> Program Author, to learn more about our commitment to your educators, students, and families.</p> 
            <p class="text-center">
			<a href="#home-video" class="video-link btn btn-default btn-lg"><i class="fa fa-play-circle"></i> Watch the Video</a></p>
            <div id="home-video" class="video-popup mfp-hide">
                <video id="video-home" class="video-js vjs-default-skin"
                    controls preload="none" width="auto" height="auto"
                    poster="{global:s3_base}/images/scholastic-video-poster.jpg"
                    data-setup=''>
                    <source src="{global:s3_base}/resources/e3d_welcome_n_kkr.mp4" type='video/mp4' />
                    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                </video>
            </div>
        </div>
    </div>
</div>
{if:else}
{layout:set name="classes" value="login"}
<div class="container main-content main-content-padded">
    <div class="row">
        <div class="col-xs-12 text-center">
            {exp:channel:entries
                channel="static_pages"
                disable="categories|member_data|pagination"
                limit="1"
                url_title="page-not-found"
            }
            <h1>{if title_alt}{title_alt}{if:else}{title}{/if}</h1>
            {content}
            {/exp:channel:entries}
        </div>
    </div>
</div>
{/if}