{layout="layouts/index" classes="review-content e3d" title="E3D Review Content"}
{exp:ce_cache:it id="e3dr-rc" seconds="3600"}
{if segment_4 ==""}
<div class="container main-content">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2" style="padding-top: 30px;">
            <h1>Select Program Component</h1>
            <p class="intro">Explore the digital resources that are part of the teacher and student classroom experience. Please note that you received all of the print materials in your <span class="nobr"><em>English 3D</em></span> California Reviewer Instructional Materials boxes.</p>

            <p class="intro">We have organized all of the program resources across three key categories: Assessment, Instructional Resources, and Data and Reporting. Click on one of the three components below to explore.</p>
        </div>
        <div class="circle-nav-wrap">
            <a class="circle-nav" href="/{segment_1}/{segment_2}/review-content/assessment/">
                <i class="fa fa-pencil-square-o"></i><br>
                Assessment
            </a>
            <a class="circle-nav" href="/{segment_1}/{segment_2}/review-content/instructional-resources/">
                <i class="fa fa-lightbulb-o"></i><br>
                Instructional<br>Resources
            </a>
            <a class="circle-nav" href="/{segment_1}/{segment_2}/review-content/data-and-reporting/">
                <i class="fa fa-line-chart"></i><br>
                Data<br>and Reporting
            </a>
        </div>
    </div>
</div>

{if:elseif segment_4 == "assessment"}
<div class="container main-content">
    {snp_subnav_review_e3d}
    <div class="container">
        <div role="tabpanel">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs main-tabs" id="main-tabs" role="tablist">
                        <!--top level tabs-->
                        <li class="active"><a href="#pane1" data-toggle="tab">SRI</a></li>
                        <li><a href="#pane2" data-toggle="tab">Issue Tests & Answer Keys </a></li>
                        <li><a href="#pane3" data-toggle="tab">Printables: Assessment Resources</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="tab-content tab-content-main">
                        <!-- SRI tab -->
                        <div class="tab-pane tab-pane-full active" id="pane1">
                            <div class="row">
                                <div class="col-xs-5 text-center">
                                    <img src="{global:assets_base}/assets/images/logo-sri-300.jpg" style="margin:10px auto;">
                                </div>
                                <div class="col-xs-7">
                                    <h3><em>Scholastic Reading Inventory</em> (SRI)</h3>
                                    <p>SRI is a proven universal screener and progress-monitoring assessment that measures reading growth on the Lexile&reg; Framework for Reading. </p>
                                    {embed="_embeds/tab_content_list" cat="61"}
                                </div>
                            </div>
                        </div>

                        <!-- Issue Tests tab -->
                        <div class="tab-pane" id="pane2">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="tabs-left">
                                        {embed="_embeds/tabs_left" cat="68" group="3" titlealt="e3d-cra"}
                                    </div>
                                </div><!-- /.col-xs-3 -->
                                <div class="col-xs-9 tabs-right">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab1">
                                            <div class="row">
                                                <div id="tab-pane-content1" class="tab-pane-content">
                                                <div id="tab-loading"><img src="{global:assets_base}/assets/images/loading-50.gif" alt="loading"></div>
                                                {embed="_embeds/tab_content" cat="70"}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-xs-9 -->
                            </div><!-- /.row -->
                        </div><!-- /.tab-pane -->

                        <!-- Printables: Assessment Resources tab -->
                        <div class="tab-pane" id="pane3">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="tabs-left">
                                    {embed="_embeds/tabs_left" cat="69" group="3" titlealt="e3d-cra"}
                                    </div>
                                </div><!-- /.col-xs-3 -->
                                <div class="col-xs-9 tabs-right">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab2">
                                            <div class="row">
                                                <div id="tab-pane-content2" class="tab-pane-content">
                                                <div id="tab-loading"><img src="{global:assets_base}/assets/images/loading-50.gif" alt="loading"></div>
                                                {embed="_embeds/tab_content_order" cat="73" set="group-3"}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-xs-9 -->
                            </div><!-- /.row -->
                        </div><!-- /.tab-pane -->
                    </div>
                </div>
            </div><!-- /.tab-content -->
        </div><!-- /tabpanel -->
    </div>
</div><!-- /.main-content -->
{if:elseif segment_4 == "instructional-resources"}
<div class="container main-content">
    {snp_subnav_review_e3d}
   
    <div class="container">
            <div role="tabpanel">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="nav nav-tabs main-tabs main-tabs-smaller" id="main-tabs" role="tablist">
                            <!--top level tabs-->
                            <li class="active"><a href="#pane1" data-toggle="tab"><em>Planning &<br>Pacing Guide</em></a></li>
                            <li><a href="#pane2" data-toggle="tab"><em>English 3D</em> CA<br>Standards Alignments</a></li>
                            <li><a href="#pane3" data-toggle="tab"><em>Issues</em><br>Media</a></li>
                            <li><a href="#pane4" data-toggle="tab">Interactive<br>Whiteboard Tools</a></li>
                            <li><a href="#pane5" data-toggle="tab">Independent<br>Reading Poster</a></li>
                            <li><a href="#pane6" data-toggle="tab">Professional<br>Learning Videos</a></li>
                            <li><a href="#pane7" data-toggle="tab">Printables:<br>Instructional Resources</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="tab-content tab-content-main">
                            <!-- PPG tab -->
                            <div class="tab-pane tab-pane-full active" id="pane1">
                                <div class="row">
                                    <div class="col-xs-12">
                                        {embed="_embeds/tab_content_order" cat="97" set="group-3"}
                                    </div>
                                </div>
                            </div>
                            <!-- E3d alignment -->
                            <div class="tab-pane" id="pane2">
                                <div class="row">
                                    <div class="col-xs-12 tabs-right">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab1">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        {embed="_embeds/tab_content_order" cat="98" set="group-3"}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.col-xs-12 -->
                                </div><!-- /.row -->
                            </div><!-- /.tab-pane -->

                            <!-- Issues Media -->
                            <div class="tab-pane" id="pane3">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="tabs-left">
                                        {embed="_embeds/tabs_left" cat="99" group="3" titlealt="e3d-cra"}
                                        </div>
                                    </div><!-- /.col-xs-3 -->
                                    <div class="col-xs-9 tabs-right">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab2">
                                                <div class="row">
                                                    <div id="tab-pane-content1" class="tab-pane-content">
                                                    <div id="tab-loading"><img src="{global:assets_base}/assets/images/loading-50.gif" alt="loading"></div>
                                                    {embed="_embeds/tab_content" cat="102"}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.col-xs-9 -->
                                </div><!-- /.row -->
                            </div><!-- /.tab-pane -->

                            <!-- Interactive White Board Tools -->
                            <div class="tab-pane tab-pane-full" id="pane4">
                                <div class="row">
                                   
                                    <div class="col-xs-12">
                                        {embed="_embeds/tab_content" cat="104"}
                                    </div>
                                </div>
                            </div>

                            <!-- Independent Reading Poster -->
                            <div class="tab-pane tab-pane-full" id="pane5">
                                <div class="row">
                                   
                                    <div class="col-xs-12">
                                        {embed="_embeds/tab_content_order" cat="105" set="group-3"}
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Professional Learning Videos -->
                            <div class="tab-pane" id="pane6">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="tabs-left">
                                        {embed="_embeds/tabs_left" cat="106" group="3" titlealt="e3d-cra"}
                                        </div>
                                    </div><!-- /.col-xs-3 -->
                                    <div class="col-xs-9 tabs-right">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab2">
                                                <div class="row">
                                                    <div id="tab-pane-content2" class="tab-pane-content">
                                                    <div id="tab-loading"><img src="{global:assets_base}/assets/images/loading-50.gif" alt="loading"></div>
                                                    {embed="_embeds/tab_content_order" cat="127" set="group-3"} 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.col-xs-9 -->
                                </div><!-- /.row -->
                            </div><!-- /.tab-pane -->

                            <!-- Printables: Instructional Resources -->
                            <div class="tab-pane" id="pane7">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="tabs-left">
                                        {embed="_embeds/tabs_left" cat="107" group="3" titlealt="e3d-cra"}
                                        </div>
                                    </div><!-- /.col-xs-3 -->
                                    <div class="col-xs-9 tabs-right">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab2">
                                                <div class="row">
                                                    <div id="tab-pane-content3" class="tab-pane-content">
                                                    <div id="tab-loading"><img src="{global:assets_base}/assets/images/loading-50.gif" alt="loading"></div>
                                                    {embed="_embeds/tab_content_order" cat="135" set="group-3"} 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.col-xs-9 -->
                                </div><!-- /.row -->
                            </div><!-- /.tab-pane -->
                           

                        </div>
                    </div>
                </div><!-- /.tab-content -->
            </div><!-- /tabpanel -->
        </div>
</div><!-- /.main-content -->
{if:elseif segment_4 == "data-and-reporting"}
<div class="container main-content">
    {snp_subnav_review_e3d}
    <div class="container">
        <div role="tabpanel">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs main-tabs" id="main-tabs" role="tablist">
                        <!--top level tabs-->
                        <li class="active"><a href="#pane1" data-toggle="tab">Data & Reporting</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="tab-content tab-content-main">
                         <!-- D&R tab -->
                        <div class="tab-pane active" id="pane1">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="tabs-left">
                                    {embed="_embeds/tabs_left" cat="147" group="3" titlealt="e3d-cra"}
                                    </div>
                                </div><!-- /.col-xs-3 -->
                                <div class="col-xs-9 tabs-right">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab1">
                                            <div class="row">
                                                <div id="tab-pane-content" class="tab-pane-content">
                                                <div id="tab-loading"><img src="{global:assets_base}/assets/images/loading-50.gif" alt="loading"></div>
                                                {embed="_embeds/tab_content_order" cat="149" set="group-3"} 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-xs-9 -->
                            </div><!-- /.row -->
                        </div><!-- /.tab-pane -->               
                    </div><!-- /.tab-content -->
                </div>
            </div><!-- /.row -->
        </div><!-- /tabpanel -->
    </div>
</div><!-- /.main-content -->
{if:else}
<div class="container main-content main-content-padded">
    <div class="row">
        <div class="col-xs-12 text-center">
            {exp:channel:entries
                channel="static_pages"
                disable="categories|member_data|pagination"
                limit="1"
                url_title="page-not-found"
            }
            <h1>{if title_alt}{title_alt}{if:else}{title}{/if}</h1>
            {content}
            {/exp:channel:entries}
        </div>
    </div>
</div>
{/if}
{/exp:ce_cache:it}