{preload_replace:catid="16"}
ORDER TEST<br>
18 is custom<br>
16 is default<br><br>
CAT: {catid}<br><br>
{exp:category_construct:categories cat_id="{catid}" custom_fields="true"}
	{construct:cat_name} - {construct:order-r180-cra}
	{if construct:order-r180-cra == "Custom"}
		<p>Custom</p>
		{exp:low_reorder:entries set="r180-cra" disable="member_data|pagination" category="18"}
		{if count == "1"}
		{categories limit="1"}
		{if category_description}
		    <div class="col-xs-12">
				<p style="padding-right: 20px;">{category_description}</p>
		    </div>
		{/if}
		{/categories}
		{/if}

		{switch='<div class="row">|||'}

		{if res_file_type=="app"}
			<div class="col-xs-3 doc-block clickable">
			    <img src="/assets/images/icon-document.png"><br>
			    <p>{title}</p>
			    <p><a class="clickable-link" href="{res_flash_app}{res_flash_app:flash_path_to_swf}{/res_flash_app}" target="_blank">Launch</a></p>
			</div>
		{if:elseif res_file_type=="app-link"}
			<div class="col-xs-3 doc-block clickable">
			    <img src="/assets/images/icon-document.png"><br>
			    <p>{title}</p>
			    <p><a class="clickable-link" href="{res_link}" target="_blank">View</a></p>
			</div>
		{if:elseif res_file_type=="video"}
			<div class="col-xs-3 doc-block">
				<a class="video-link" href="#vid-{url_title}"><img src="/assets/images/icon-video.png"></a><br>
				<p><a class="video-link" href="#vid-{url_title}">{title}</a></p>
			    <p><a class="video-link" href="#vid-{url_title}">Watch</a></p>
			    <div id="vid-{url_title}" class="white-popup mfp-hide">
				    <video width="1280" height="720" controls>
				    	<source src="{res_file}{url}{/res_file}" type="video/mp4">
				    	Your browser does not support the video tag.
				    </video>
				</div>
			</div>
		{if:elseif res_file_type=="audio"}
			<div class="col-xs-3 doc-block">
				<a class="video-link" href="#vid-{url_title}"><img src="/assets/images/icon-video.png"></a><br>
				<p>{title}</p>
			    <p><a class="video-link" href="#aud-{url_title}">Listen</a></p>
			    <div id="aud-{url_title}" class="white-popup popup-audio mfp-hide text-center">
			    	<h3 style="margin-bottom: 40px;">{title}</h3>
				    <audio controls>
			          <source src="{res_file}" type="audio/mpeg">
			        Your browser does not support the audio element. You can download the mp3 <a href="{res_file}" target="_blank">here</a>.
			        </audio>
				</div>
			</div>
		{if:else}
			<div class="col-xs-3 doc-block clickable">
			    <img src="/assets/images/icon-document.png"><br>
			    <p>{title}</p>
			    <p><a class="clickable-link" href="{res_file}{url}{/res_file}" target="_blank">Read</a></p>
			</div>
		{/if}

		{if count != total_results}{switch='|||</div>'}{/if}
		{if count == total_results}</div>{/if}

		{/exp:low_reorder:entries}
	{if:else}
		<p>Alpha (def)</p>
		{exp:channel:entries
		    channel="resources"
		    disable="member_data|pagination"
		    dynamic="no"
		    category="{catid}"
		    orderby="title"
		    sort="asc"
		}

		{if count == "1"}
		{categories limit="1"}
		{if category_description}
		    <div class="col-xs-12">
				<p style="padding-right: 20px;">{category_description}</p>
		    </div>
		{/if}
		{/categories}
		{/if}

		{switch='<div class="row">|||'}

		{if res_file_type=="app"}
			<div class="col-xs-3 doc-block clickable">
			    <img src="/assets/images/icon-document.png"><br>
			    <p>{title}</p>
			    <p><a class="clickable-link" href="{res_flash_app}{res_flash_app:flash_path_to_swf}{/res_flash_app}" target="_blank">Launch</a></p>
			</div>
		{if:elseif res_file_type=="app-link"}
			<div class="col-xs-3 doc-block clickable">
			    <img src="/assets/images/icon-document.png"><br>
			    <p>{title}</p>
			    <p><a class="clickable-link" href="{res_link}" target="_blank">View</a></p>
			</div>
		{if:elseif res_file_type=="video"}
			<div class="col-xs-3 doc-block">
				<a class="video-link" href="#vid-{url_title}"><img src="/assets/images/icon-video.png"></a><br>
				<p><a class="video-link" href="#vid-{url_title}">{title}</a></p>
			    <p><a class="video-link" href="#vid-{url_title}">Watch</a></p>
			    <div id="vid-{url_title}" class="white-popup mfp-hide">
				    <video width="1280" height="720" controls>
				    	<source src="{res_file}{url}{/res_file}" type="video/mp4">
				    	Your browser does not support the video tag.
				    </video>
				</div>
			</div>
		{if:elseif res_file_type=="audio"}
			<div class="col-xs-3 doc-block">
				<a class="video-link" href="#vid-{url_title}"><img src="/assets/images/icon-video.png"></a><br>
				<p>{title}</p>
			    <p><a class="video-link" href="#aud-{url_title}">Listen</a></p>
			    <div id="aud-{url_title}" class="white-popup popup-audio mfp-hide text-center">
			    	<h3 style="margin-bottom: 40px;">{title}</h3>
				    <audio controls>
			          <source src="{res_file}" type="audio/mpeg">
			        Your browser does not support the audio element. You can download the mp3 <a href="{res_file}" target="_blank">here</a>.
			        </audio>
				</div>
			</div>
		{if:else}
			<div class="col-xs-3 doc-block clickable">
			    <img src="/assets/images/icon-document.png"><br>
			    <p>{title}</p>
			    <p><a class="clickable-link" href="{res_file}{url}{/res_file}" target="_blank">Read</a></p>
			</div>
		{/if}

		{if count != total_results}{switch='|||</div>'}{/if}
		{if count == total_results}</div>{/if}
		{/exp:channel:entries}
	{/if}
{/exp:category_construct:categories}


{!-- {exp:channel:categories show="18" channel="resources" style="linear" show_empty="yes"}
	{category_name}
	{if order-r180-cra == "Custom"}
		<p>Custom</p>
	{if:else}
		<p>Alpha (def)</p>
	{/if}
{/exp:channel:categories} --}
{!-- {exp:low_reorder:entries set="r180-cra" disable="member_data|pagination" category="18"}




{if count == "1"}
{categories limit="1"}
{if category_description}
    <div class="col-xs-12">
		<p style="padding-right: 20px;">{category_description}</p>
    </div>
{/if}
{/categories}
{/if}

{switch='<div class="row">|||'}

{if res_file_type=="app"}
	<div class="col-xs-3 doc-block clickable">
	    <img src="/assets/images/icon-document.png"><br>
	    <p>{title}</p>
	    <p><a class="clickable-link" href="{res_flash_app}{res_flash_app:flash_path_to_swf}{/res_flash_app}" target="_blank">Launch</a></p>
	</div>
{if:elseif res_file_type=="app-link"}
	<div class="col-xs-3 doc-block clickable">
	    <img src="/assets/images/icon-document.png"><br>
	    <p>{title}</p>
	    <p><a class="clickable-link" href="{res_link}" target="_blank">View</a></p>
	</div>
{if:elseif res_file_type=="video"}
	<div class="col-xs-3 doc-block">
		<a class="video-link" href="#vid-{url_title}"><img src="/assets/images/icon-video.png"></a><br>
		<p><a class="video-link" href="#vid-{url_title}">{title}</a></p>
	    <p><a class="video-link" href="#vid-{url_title}">Watch</a></p>
	    <div id="vid-{url_title}" class="white-popup mfp-hide">
		    <video width="1280" height="720" controls>
		    	<source src="{res_file}{url}{/res_file}" type="video/mp4">
		    	Your browser does not support the video tag.
		    </video>
		</div>
	</div>
{if:elseif res_file_type=="audio"}
	<div class="col-xs-3 doc-block">
		<a class="video-link" href="#vid-{url_title}"><img src="/assets/images/icon-video.png"></a><br>
		<p>{title}</p>
	    <p><a class="video-link" href="#aud-{url_title}">Listen</a></p>
	    <div id="aud-{url_title}" class="white-popup popup-audio mfp-hide text-center">
	    	<h3 style="margin-bottom: 40px;">{title}</h3>
		    <audio controls>
	          <source src="{res_file}" type="audio/mpeg">
	        Your browser does not support the audio element. You can download the mp3 <a href="{res_file}" target="_blank">here</a>.
	        </audio>
		</div>
	</div>
{if:else}
	<div class="col-xs-3 doc-block clickable">
	    <img src="/assets/images/icon-document.png"><br>
	    <p>{title}</p>
	    <p><a class="clickable-link" href="{res_file}{url}{/res_file}" target="_blank">Read</a></p>
	</div>
{/if}

{if count != total_results}{switch='|||</div>'}{/if}
{if count == total_results}</div>{/if}

{/exp:low_reorder:entries} --}
