{layout="layouts/layout-login" classes="login account" title="Account"}

{snp_login}
<div class="container main-content" style="margin-bottom: 0; padding-bottom: 40px;">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 login-intro">
            <h1>Account</h1>
        </div>
		<div class="col-xs-4 col-xs-offset-4" style="text-align:center;">
		    <div class="well login-box" style="margin-top: 30px;">
		   	{exp:freemember:forgot_password return="/public/account/forgot-sent" error_handling="inline" error_delimiters='<span class="error">|</span>' reset="public/account/reset-password"}
				<legend>Forgot Password</legend>
				<div class="form-group">
					<label for="email">Email</label><br />
					{field:email}<br />
					{error:email}
				</div>
				<div class="form-group text-center">
				    <input type="submit" class="btn btn-primary btn-login-submit" value="Submit" />
				</div>
            {/exp:freemember:forgot_password}
		    </div>
		</div>
    </div>
</div>

