{layout="layouts/layout-login" classes="login account" title="Account"}

{snp_login}
<div class="container main-content" style="margin-bottom: 0; padding-bottom: 40px;">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 login-intro text-center">
            <h1>Account</h1>
            <p>An email has been sent to you with instructions on resetting you password.</p>
        </div>
    </div>
</div>