{layout="layouts/layout-login" classes="login account" title="Account"}

{snp_login}
<div class="container main-content" style="margin-bottom: 0; padding-bottom: 40px;">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 login-intro text-center">
            <h1>Account</h1>
            {if logged_out}
            {exp:freemember:login return="public/redirect" error_handling="inline" error_delimiters='<span class="error">|</span>'}
                    <legend>Log In</legend>
                    <div class="form-group">
                        <input value='' name="username" id="username" placeholder="Username" type="text" class="form-control" style="font-family:Arial, FontAwesome"/>
                        {error:username}
                    </div>
                    <div class="form-group">
                        <input id="password" value='' name="password" placeholder="Password" type="password" class="form-control" style="font-family:Arial, FontAwesome"/>
                        {error:password}
                        <a href="/public/account/forgot-password"><small>Forgot Password?</small></a>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary btn-login-submit" value="Sign In" />
                    </div>

                {/exp:freemember:login}

            {/if}
        </div>
    </div>
</div>