{layout="layouts/layout-login" classes="login account" title="Account"}

{snp_login}
<div class="container main-content" style="margin-bottom: 0; padding-bottom: 40px;">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 login-intro text-center">
            <h1>Account</h1>
        </div>
		<div class="col-xs-4 col-xs-offset-4" style="text-align:center;">
		    <div class="well login-box" style="margin-top: 30px;">
		   	{exp:freemember:reset_password return="public/account/login-public" error_handling="inline" error_delimiters='<span class="error">|</span>'}
				<legend>Reset Password</legend>
				{if no_results}
				    <p>Sorry, the link you clicked does not appear to be valid, or has expired.</p>
				{/if}
				<p>To reset your password, please enter a new password below:</p>
				<div class="form-group">
					<label for="password">New Password</label><br />
					<input type="password" name="password" value="" /><br />
        			{error:password}
				</div>
				<div class="form-group">
					<label for="password_confirm">Confirm New Password</label><br />
					<input type="password_confirm" name="password_confirm" value="" /><br />
        			{error:password_confirm}
				</div>
				<div class="form-group text-center">
				    <input type="submit" class="btn btn-primary btn-login-submit" value="Submit" />
				</div>
            {/exp:freemember:reset_password}
		    </div>
		</div>
    </div>
</div>