{layout="layouts/layout-login" classes="login account" title="Account"}

{snp_login}
<div class="container main-content" style="margin-bottom: 0; padding-bottom: 40px;">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 login-intro">
            <h1>Account</h1>
            <p>Thank you for your interest in reviewing Scholastic’s submissions for the California 2015ELA/ELD Instructional Materials Adoption. Instructions to verify your registration have been sent to the email address you provided.</p>
        </div>
    </div>
</div>