body {
    padding-top: 80px;
}
body.ext-site {
	padding-top: 40px;
}
.navbar {
    background: #fff url(/assets/images/bg-red-bar.png) repeat-x left top;
    border-bottom: 2px solid #ddd;
    text-align: center;
}
.ext-site .navbar {
	 border-bottom: none;
	 height: 30px !important;
}
#logo-sch {
    width: 100%;
    height: 30px;
    padding-top: 4px;
    text-align: center;
}
#back-link {
	float: left;
}
.navbar-header {
    position: relative;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar-brand {
    position: absolute;
    left: 0;
    top: -35px;
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar-nav>li>a {
    padding-top: 10px;
    color: #666;
    padding-bottom: 10px;
    line-height: 20px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.subnav {
    list-style: none;
    overflow: hidden;
    font: 18px Helvetica, Arial, Sans-Serif;
}
.subnav li {
    float: left;
}
.subnav li a {
    color: white;
    text-decoration: none;
    padding: 10px 0 10px 55px;
    background: brown;
    /* fallback color */
    
    background: #4e4e4e;
    position: relative;
    display: block;
    float: left;
}
.subnav li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    /* Go big on the size, and let overflow hide */
    
    border-bottom: 50px solid transparent;
    border-left: 30px solid #4e4e4e;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}
.subnav li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    /* Go big on the size, and let overflow hide */
    
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.subnav li:nth-child(5) a {
    background: hsla(34, 85%, 75%, 1);
}
.subnav li:nth-child(5) a:after {
    border-left-color: hsla(34, 85%, 75%, 1);
}
.subnav li.active a {
    background: transparent !important;
    color: black;
    pointer-events: none;
    cursor: default;
}
.subnav li:last-child a:after {
    border: 0;
}
.subnav li:last-child a {
    padding-right: 20px;
}
.subnav li a:hover {
    background: #888;
}
.subnav li a:hover:after {
    border-left-color: #888;
}
