/* Reset the container */
.container {
    width: 1170px;
    max-width: none !important;
}
body {
    font-family: "museo-sans", Arial, sans-serif;
    font-weight: 300;
    padding-top: 0;
    color: #666;
    font-size: 18px;
    padding-bottom: 150px;
    background: #f2f3ed;
}
body.ext-site {
	padding-top: 0;
}
body.logged-out {
    background: #f2f3ed;
    padding-top: 0;
}
.back-nav {
    text-align: left;
}
.back-nav a {
    color: #fff;
    padding-top: 3px;
    font-size: 14px;
    text-transform: uppercase;
}
.login-logo {
    margin: 80px auto 50px auto;
}
.login-box {
    background-color: #fff !important;
    border-radius: 0!important;
    border: 1px solid #e0e2da;
    padding: 40px 35px;
}
.login-box legend {
    color: #666;
    font-size: 20px;
}
.login-intro {
    color: #666 !important;
    margin-top: 40px;
    text-align: left;
}
.login-intro ul, .login-intro ol {
    padding: 0 80px 10px 90px;
    text-align: left;
}
.login-intro h1, .login-intro p {
    color: #666 !important;
}
.login-intro h1 {
    font-size: 32px !important;
}
#username::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f007  '; color: #999 }
#username::-moz-placeholder::before  { font-family: fontAwesome; content:'\f007  '; color: #999 } /* firefox 19+ */
#username:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f007  '; color: #999 } /* ie */
input#username:-moz-placeholder::before  { font-family: fontAwesome; content:'\f007  '; color: #999 }

#password::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f023  '; color: #999 }
#password::-moz-placeholder::before  { font-family: fontAwesome; content:'\f023  '; color: #999 } /* firefox 19+ */
#password:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f023  '; color: #999 } /* ie */
input#password:-moz-placeholder::before  { font-family: fontAwesome; content:'\f023  '; color: #999 }
#sign-out {
    margin: -28px 0 0 0;
}
.alert {
    text-align: left;
    font-size: 14px;
}
.alert h4 {
    font-size: 16px;
}
.alert p, .alert ul li {
    font-size: 14px;
}
.alert ul {
    padding-left: 20px;
}
span.error {
    font-size: 14px;
    font-weight: bold;
    color: red;
}
label {
    font-size: 16px;
}
#sign-out a {
    color: #999;
    font-size: 12px;
    text-decoration: none;
    margin-left: 20px;
}
#sign-out a:hover {
    color: #666;
}
.btn-primary {
    color: #fff;
    background-color: #13bdd0;
    border: none;
    border-radius: 4px;
}
.btn-lg {
    padding: 12px 27px;
}
.btn-default {
    color: #13bdd0;
}
.btn-login-submit {
    width: 100%;
    padding: 12px 12px;
    background-color: #13bdd0 !important;
}
.navbar {
    background: #fff url(https://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/bg-red-bar.png) repeat-x left top;
    border-bottom: none;
    height: 130px;
    text-align: center;
    margin-bottom: 0;
}
.ext-site .navbar {
	 border-bottom: none;
	 height: 30px !important;
}
.top-bar {
    border-bottom: none;
    padding-top: 6px;
    height: 40px;
    background-color: #ec1f28;
    text-align: center;
}
#logo-sch {
    width: 100%;
    height: 30px;
    padding-top: 6px;
    text-align: center;
}
#back-link {
	float: left;
}
.navbar-header {
    position: relative;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar-brand {
    position: absolute;
    left: -70px;
    top: -30px;
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar-nav {
    margin-top: 35px;
}
.navbar-nav>li>a {
    font-family: "museo-sans", Arial, sans-serif;
    color: #666;
    line-height: 1;
    font-size: 22px;
    font-weight: 700;
    padding: 3px 30px; /*was 3px 40px;
 */
    border-right: 1px solid #dfe0d9;
}

.navbar-nav>li:last-child>a {
    border-right: none;
}
.navbar-nav>li.active>a {
    color: #ec1f28;
    background: none;
}
.nav>li>a:focus, .nav>li>a:hover {
    background: none;
}
.navbar-nav>li>a:focus, .navbar-nav>li>a:hover {
    color: #ec1f28;
    background: none;
} 
.subnav {
    display:inline-block;
    margin-top: -10px;
    margin-bottom: 25px;
    list-style: none;
    overflow: hidden;
    text-align: center;
    font-family: "museo-sans", Arial, sans-serif;
    z-index: 10;
}
.subnav>li {
    float: none;
    display: inline-block;
}
.subnav>li>a {
    font-family: "museo-sans", Arial, sans-serif;
    color: #666;
    line-height: 1.2;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    padding: 23px 20px 23px 35px;
    background: #dfe0d9; 
    position: relative;
    display: block;
   
/*    float: left;
*/}
.home .subnav>li>a {
    padding: 23px 30px 23px 55px;
}
.subnav>li>a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */ 
    border-bottom: 50px solid  transparent;
    border-left: 20px solid #DFE0D9;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 11;
}
.subnav>li>a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 20px solid #fff;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 11;
}
/*.subnav li:nth-child(5) a {
    background: hsla(34, 85%, 75%, 1);
}
.subnav li:nth-child(5) a:after {
    border-left-color: hsla(34, 85%, 75%, 1);
}*/
.subnav>li.active a {
    background: #13bdd0 !important;
    color: #fff !important;
    pointer-events: none;
    cursor: default;
}
.subnav>li.active a:after {
    border-left: 30px solid #13bdd0;
}
.subnav>li:last-child a:after, .subnav>li:last-child>a:before {
    border: 0;
}
.subnav>li:first-child>a {
    padding-right: 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.home .subnav>li:first-child>a {
    padding-right: 55px;
}
.subnav>li:last-child>a {
    padding-right: 40px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.home .subnav>li:last-child>a {
    padding-right: 55px;
}
.subnav>li>a:hover {
    background: #13bdd0;
    color: #fff;
}
.subnav>li>a:hover:after {
    border-left-color: #13bdd0;
}
/*.subnav .dropdown-menu {
    display: block;
    border: 5px solid red;
    width: 300px;
    margin-top: 100px;
}
.subnav .dropdown-menu li {
    display: block;
    background: #888;
}
.subnav .dropdown-menu li  {
    display: block;
    color: #fff;
    height: 120px;
}
.tab-dropdown-menu {
    background: #888;
    position: absolute;
    top: 0;
}
.tab-dropdown-menu li {
    display: block;
}
.tab-dropdown-menu li a{
    display: block;
    height: 50;
    text-align: left;
    color: #fff;
}*/
.exp-dropdown {
    height: 69px;
    background: #13bdd0 !important;
    color: #fff;
    margin-top: -10px;
    padding: 0 10px;
    display: block;
    border: none;
}
.exp-dropdown-wrap {
    display: inline-block;
    margin-top: 0;
    margin-right: -5px;
    padding:0;
    vertical-align: top;
}
h1, h2, h3, h4, h5 {
    font-family: "museo-sans", Arial, sans-serif;
    font-weight: 300;
    margin-top: 0;
}
.subnav>li:first-child>a.person-tab  {
    padding-right: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 10px;
}
.dropdown-menu-exp {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 0 0;
  margin: 1px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.dropdown-menu-exp>li>a {
    background: #13bdd0;
    font-family: "museo-sans", Arial, sans-serif;
    color: #fff;
    line-height: 1 !important;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 15px 0 0;
    height: 69px;
    width: 250px;
}
.dropdown-menu-exp>li>a span {
    font-size: 12px;
}
.dropdown-menu-exp>li>a img{
    display: block;
    float: left;
    margin: -10px 15px 0 0;
    padding: 0;
}
.dropdown-menu-exp>li>a:hover {
    color: #666 !important;
    background: #dfe0d9 !important;
}
h1 {
    font-weight: 100;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}
h2 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
}
h3 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
}
h4 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.2;
}
h5 {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 14px;
    line-height: 1.4;
}
.profile-overview h1 {
    text-align: left;
    font-size: 52px;
    margin: -20px 0 10px 0;
    text-transform: uppercase;
}
.profile-overview h1 span {
    font-size: 30px;
    text-transform: none;
}
.home h1 {
    font-size: 55px;
    margin-bottom: 30px;
}
p, ul, ol {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 18px;
}
ul li, ol li {
    font-weight: 300;
    font-size: 18px;
}

.home p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 16px;
    text-align: center;
}
.home ul.intro {
    color: #fff;
}
div.intro p, p.intro {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 30px;
    text-align: justify;
    line-height: 1.3;
    padding-left: 40px;
}
div.intro ul, ul.intro {
    margin: 0 50px 20px 80px;
    padding: 0;
}
div.intro p + div.intro ul, p.intro + ul.intro {
    margin-top: -5px;
}
div.intro ul li, ul.intro li {
    font-size: 20px;
    font-weight: 100;
    padding: 3px 0;
    margin: 0;
    text-align: left;
    line-height: 1.2;
}
.disclaimer p, p.disclaimer {
    font-size: 16px !important;
}
.main-content {
    min-height: 600px;
    padding-bottom: 50px;
}
.main-content-padded {
    padding-top: 30px;
}
.sub-content {
    margin-top: 40px;
    margin-bottom: 50px;
    min-height: 400px;
}
.home {
    background: #000 url(https://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/home-bg-fade.jpg) no-repeat center 130px;
    background-size: contain;
}
.home .main-content {
    text-align: center;
    padding-bottom: 50px;
}
.home .main-content h1, .home .main-content p {
    color: #fff;
}
/* helper classes */
.nobr { 
    white-space: nowrap;
}
.margin-top-0 p:first-child {
    margin-top: 0;
}
.clickable:hover, .clickable-new:hover, .clickable-self:hover {
    cursor: pointer;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
/* nav arrows - back and next */

.nav-arrow {
    position: absolute;
    right: 0;
    top: 416px;
    width: 87px;
    height: 99px;
    margin: 0;
    padding-top: 18px;
    background-color: #13bdd0;
    text-align: center;
}
.nav-arrow:hover {
    background-color: #0e909e;
}
.back-arrow {
    left: 0;
    right: auto;
}
.next-arrow {

}
/* d8d9d2 disabled */ 
/* circle nav */
.circle-nav-wrap {
    text-align: center;
    padding: 0;
    margin: 50px 0 100px 0;
}

.circle-nav-wrap-alt {
    text-align: center;
    margin: 20px 0 50px 0;
}
.circle-nav-wrap li {
    display: inline-block;
}
.circle-nav {
    display: inline-block;
    font-size: 14px;
    color: #666;
    text-align: center;
    margin: 3px;
    height: 202px;
    width: 202px;
    border: 22px solid #E3E4DF;
    border-radius: 101px;
    background-color: #d8d9d2;
    text-decoration: none !important;
    padding-top: 30px;
    vertical-align: top;
}
.circle-nav i {
    font-size: 45px;
    margin-bottom: 15px;
} 
.circle-nav:hover, .circle-nav-wrap li.active .circle-nav {
    border: 22px solid #d3d4d0;
    background-color: transparent;
    text-decoration: none;
}
.circle-nav-no-icons .circle-nav {
    padding-top: 65px;
}
/* people */
.people-wrap {
    text-align: center;
    margin: 20px 0 50px 0;
}
.person-group {
    position: relative;
    display: inline-block;
    margin: 0 40px;
    width: 255px;
    height: 422px;
    overflow: hidden;
}
.person-group .portrait {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: #000;
    transition: .3s;
    transition-timing-function: ease-out;
}
.person-group .person-info {
    position: absolute;
    text-align: left;
    padding: 0 5px 0 15px;
    bottom: -40px;
    left: 0;
    transition: .3s;
    transition-timing-function: ease-out;
    z-index: 3;
}
.person-group:hover .portrait img {
    opacity: .5;
    transition: .5s;
    transition-timing-function: ease-out;
}
.person-group:hover .person-info {
    bottom: 15px;
    transition: .5s;
    transition-timing-function: ease-out;
}
.person-group .person-info h2 {
    font-weight: 900;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
}
.person-group .person-info h3 {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}
.person-group .person-info p {
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    line-height: 1.22;
}
.person-group .person-info a.learn-more {
    font-weight: 900;
    font-size: 18px;
    color: #fff;
}
.person-group .person-info a.learn-more i {
    font-size: 15px;
    color: #fff;
}
.short-divider {
    margin: 5px 0 32px 0;
}

.profile-page-intro h4 {
    margin-bottom: 15px;
    padding-right: 10px; 
    min-height: 63px;  
}
.profile-icon {
    margin: 10px 0;
}
/* tabbed content */
.res-description {
    font-size: 14px;
}
p + p.res-description {
    margin-top: -15px;
}
p + p.res-description-icon {
    margin-top: -5px;
}
.main-tabs {
    position: relative;
    width: 100%;
    border-bottom: 2px solid #13bccf;
    z-index: 2;
}
.main-tabs>li {
    margin-bottom: 0;
}
.bottom-panes-wrap {
    border-top: 1px solid #12bdcf;
    background: green;
    min-height: 400px;
    margin-bottom: 50px;
    background-color: #FFF;
    margin-left: 15px;
}
.nav-tabs>li>a {
    color: #666;
    margin-right: 0;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0;
}
.main-tabs>li>a {
    font-weight: 700;
    font-size: 16px;
    color: #666;
    margin-right: 0;
    line-height: 1.42857143;
    border: 1px solid #e6e6e6;
    border-bottom: none;
    border-radius: 0;
    background-color: #fff;
    padding: 15px 19px;
    margin-left: -1px;
}
.main-tabs-smaller>li>a {
    font-weight: 700;
    font-size: 15px;
    color: #666;
    margin-right: 0;
    line-height: 1.42857143;
    border: 1px solid #e6e6e6;
    border-bottom: none;
    border-radius: 0;
    background-color: #fff;
    padding: 15px 16px;
    margin-left: -1px;
}
.main-tabs>li:first-child>a {
    margin-left: 0;
}
.nav-tabs>li>a:hover, .nav-tabs>li.active>a, .main-tabs>li.active>a {
    color: #fff;
    background: #13bccf;
    border: 1px solid #13bccf;
    border-bottom: none;
}
body.e3d .nav-tabs>li>a:hover, body.e3d .nav-tabs>li.active>a, body.e3d .main-tabs>li.active>a {
    background: #00bae3;
    border: 1px solid #00bae3;
}
.left-tab-content {
    background-color: #ddd;
}
.tabs-left .nav-tabs li {
    /*border-bottom: 1px solid #e6e6e6;
    border-left: 5px solid transparent;*/
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 0 0 5px;
    margin: -1px 0 0 0;
}
.tabs-left .nav-tabs li a {
    color: #666;
    font-size: 16px;
    font-weight: 500;
    margin-right: 0;
    line-height: 1.42857143;
    border-radius: 0;
    margin-bottom: 0;
    border: 1px solid transparent;
    /*border-bottom: 1px solid transparent;*/
    /*background-color: #f8f8f6;*/
    border-bottom: 1px solid #e6e6e6;
    background: #f8f8f6 url(https://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/chevron-off.png) no-repeat right 15px center;
    padding-left: 20px;
    padding-right: 30px;
}

.tabs-left .nav-tabs li.active a {
    background-color: #f8f8f6;
    border-bottom: 1px solid #e6e6e6;
}
.tabs-left .nav-tabs li.active li a {
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    padding-left: 40px;
    background: #fff url(https://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/chevron-off.png) no-repeat right 15px center;
}
.tabs-left .nav-tabs>li:first-child>a {
    margin-top: 0;
}

.tabs-left .nav-tabs>li:hover, .tabs-left .nav-tabs>li.active {
    border-left: 5px solid #12bdcf;
    border-right: 1px solid #fff;
   /* border-bottom: 1px solid #e6e6e6; 
    border-top: 1px solid #e6e6e6;*/
    border-bottom: none;
    border-top: none;
    /*border-bottom: none;*/
    background: #fff;
    text-decoration: none;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
}

body.e3d .tabs-left .nav-tabs>li:hover, body.e3d .tabs-left .nav-tabs>li.active {
    border-left: 5px solid #00bae3;
    border-right: 1px solid #fff;
    border-bottom: none;
    border-top: none;
    background: #fff !important;
    text-decoration: none;
    padding-top: 1px;
    color: #00bae3 !important;
    padding-bottom: 1px;
    padding-left: 0;
}
.tabs-left .nav-tabs>li ul {
    display: none;
}
.tabs-left .nav-tabs>li.active>a:hover, .tabs-left .nav-tabs>li>a:hover, .tabs-left .nav-tabs>li.active>a {
    color: #12bdcf;
    /*background-color: #fff !important;*/
    background: #fff url(https://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/chevron-on.png) no-repeat right 15px center;
    /*border: 1px solid transparent;*/
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #e6e6e6;
    
    border-bottom: 1px solid #e6e6e6 !important;
}
body.e3d .tabs-left .nav-tabs>li.active>a:hover, body.e3d .tabs-left .nav-tabs>li>a:hover, body.e3d .tabs-left .nav-tabs>li.active>a {
    color: #00bae3;
    /*background-color: #fff !important;*/
    background: #fff url(https://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/chevron-on.png) no-repeat right 15px center;
    /*border: 1px solid transparent;*/
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid #fff;    
    border-bottom: 1px solid #e6e6e6 !important;
}
.tabs-left .nav-tabs>li.active.sub-is-active>a, body.e3d .tabs-left .nav-tabs>li.active.sub-is-active>a,
.tabs-left .nav-tabs>li.active.subact-0>a, body.e3d .tabs-left .nav-tabs>li.active.subact-0>a {
    color: #666;
}
.tabs-left .nav-tabs>li.active ul {
    display: block;
}
.tabs-left .nav-tabs>li {
    background-color: #f8f8f6;
    margin-bottom: 0;
}
.tabs-left .nav-tabs li ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.tabs-left .nav-tabs li ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    border: none;
    background: #fff;
}
/*.tabs-left .nav-tabs li ul li a */
.tabs-left .nav-tabs li.level-2>a, .tabs-left .nav-tabs li.active li.level-2>a {
    background: #fff;
    font-size: 14px;
    display: block;
    list-style: none;
    padding: 5px 25px 5px 40px !important;
    border-bottom: 1px solid #e6e6e6;
}
.tabs-left .nav-tabs li.level-3>a, .tabs-left .nav-tabs li.active li.level-3>a {
    background: #fff;
    font-size: 14px;
    display: block;
    list-style: none;
    padding: 5px 25px 5px 60px;
    border-bottom: 1px solid #e6e6e6;
}
.tabs-left .nav-tabs li.level-3>a:hover, .tabs-left .nav-tabs li.level-3.active>a {
    color: #12bdcf;
    text-decoration: none;
}
body.e3d .tabs-left .nav-tabs li.level-3>a:hover, body.e3d .tabs-left .nav-tabs li.level-3.active>a {
    color: #00bae3;
}
.tabs-left .nav-tabs li ul li:last-child a {
    border-bottom: 1px solid transparent;
}
.tabs-left .nav-tabs li ul li a li:last-child a {
    border-bottom: 1px solid transparent;
}
.tabs-left .nav-tabs>li>ul>li:hover>a, .tabs-left .nav-tabs>li>ul>li.active>a{
    color: #12bdcf;
    text-decoration: none;
    background: #fff url(https://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/chevron-on.png) no-repeat right 15px center;
}
.nav-stacked>li+li {
  margin-top: 0;
}

.main-tabs>li.active>a {
    color: #fff !important;
    background: #13bccf !important;
    border: 1px solid #13bccf !important;
    border-bottom: none;
}
body.e3d .main-tabs>li.active>a {
    color: #fff !important;
    background: #00bae3 !important;
    border: 1px solid #00bae3 !important;
    border-bottom: none;
}
#tab-pane-content {
    display: relative;
    padding-right: 20px;
}
#tab-loading {
    display: none;
    position: absolute;
    left: 40px;
    top: 40px;
    z-index: 10;
}
.tab-content-main {
    position: relative;
    background: #fff;
    min-height: 400px;
    padding-top: 13px;
    margin-top: -13px;
    z-index: 1;
}
.tab-pane-full {
    padding: 20px;
}
.tab-pane h2 {
    margin-top: 0;
}
.book-group {
/*    margin-top: 10px;
*/    padding: 10px 15px;
}
.book-thumb {
    float: left;
    margin: 0 15px 0 0;
}
.book-info {
    float: left;
    width: 190px; /* 350 for 2 wide */
    margin: 0 0 0 0;
}
.tab-content-narrow .book-info {
    width: 112px !important; 
}
.book-info .btn-link {
    padding-left: 0;
    padding-right: 30px;
}
.book-info h4 {
    font-size: 20px;
    color: #13BCCF;
}
.tab-content-narrow .book-info h4 {
    font-size: 16px !important;
}
.book-info p {
    font-size: 14px;
}
.doc-link {
    color: #555;
    text-decoration: none;
}
.doc-link:hover {
    color: #13bccf;
    text-decoration: none;
}
.tabs-right .tab-pane {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 25px;
}
.tabs-left {
/*    vertical-align: top;
    display: table-cell;
    height:100%;
    background: green;*/
}
.doc-block {
    text-align: center;
    margin-bottom: 20px;
}
.doc-block img {
    margin: 10px auto;
    
}
.doc-block p {
    font-size: 14px;
    margin-bottom: 5px;
    padding: 0;
    line-height: 1.3;
}
/* framework chart */
.framework-chart {
    position: relative;
    margin: 0 auto;
    width: 1170px;
    height: 445px;
}
.framework-chart-bg {
    position: absolute;
    left: 177px;
    top: 0;
    z-index: 1;
}
.framework-chart-text {
    position: absolute;
    width: 300px;
    top: 0;
    left: 0;
    z-index: 5;
}
.framework-chart-link {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 0;
    left: 0;
    z-index: 10;
    cursor: pointer;
    /*border: 1px solid black;*/
}
.framework-chart-text p {
    font-size: 16px;
}
#chart-text-1 {
    top: 0;
    left: 860px;
}
#chart-text-2 {
    top: 160px;
    left: 940px;
    width: 220px;
}
#chart-text-3 {
    top: 315px;
    left: 960px;
    width: 220px;
}
#chart-text-4 {
    top: 275px;
    left: 50px;
}
#chart-text-5 {
    top: 80px;
    left: 20px;
}
#chart-link-1 {
    top: 0;
    left: 503px;
}
#chart-link-2 {
    top: 105px;
    left: 665px;
}
#chart-link-3 {
    top: 287px;
    left: 603px;
}
#chart-link-4 {
    top: 287px;
    left: 390px;
}
#chart-link-5 {
    top:105px;
    left: 340px;
}
.modal-dialog {
  width: 800px;
  margin: 200px auto 50px auto;
}
.modal-header {
    padding: 30px 40px 20px 40px;
}
.modal-body {
    padding: 40px 40px;
}
.modal-content {
    border-radius: 0;
}
.modal h3 {
    font-size: 28px;
}
.modal-backdrop.in {
   filter: alpha(opacity=80);
   opacity: .8;
}

#modalMessage button.close { 
    margin-top: -40px;
    color: #FFF;
    opacity: .8;
    margin-right: 0;
}
#modalMessage .modal-header {
    padding: 10px;
    text-align: center;
    background: #ec1f28;
}
.blue-close {
    position: absolute;
    top: -10px;
    right: -10px;
    float: none;
    filter: alpha(opacity=100);
    opacity: 1 !important;
}
.blue-close.hover, .blue-close:focus {
    filter: alpha(opacity=100);
    opacity: 1;
}
.white-popup {
    position: relative;
    background: #fff;
    padding: 40px 20px 20px 20px;
    width:auto;
    /*min-height: 580px;*/
    max-width: 1280px;
    max-height: 760px;
    margin: 0 auto;
}
.video-popup {
    position: relative;
    background: transparent;
    padding: 40px 0 0 0;
    width: auto;
    height: 95%;
    /*height: 90%;*/
    /*min-height: 580px;*/
    max-width: 1020px;
    max-height: 680px;
    margin: 0 auto;
}
.video-js {
    padding-top: 56.25%;
    height: 100%;
    }
.vjs-fullscreen {padding-top: 0px}
audio {
    width: 400px;
}
.popup-audio {
    position: relative;
    background: #FFF;
    padding: 40px;
    width:auto;
    min-height: 250px;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.popup-content {
    margin-top: 30px;
}
.popup-col-left {
    float: left;
    width: 45%;
    margin-right: 10%;
}
.popup-col-right {
    float: left;
    width: 45%;
    margin: 0;
}
.white-popup-full {
    max-width: 1320px;
}
/* about bubble */
.about-bubble {
    position: relative;
    margin: 0 auto;
    width: 863px;
    height: 315px;
}
.about-bubble .about-bubble-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.about-bubble .about-bubble-content {
    position: absolute;
    width: 330px;
    left: 475px;
    top: 55px;
    z-index: 5;
}
.about-bubble .about-bubble-content p, .about-bubble-content ul li {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.25;
}
.model-graphic {
    float: left;
    width: 264px;
    height: 543px;
    margin: 0 20px 0 0;
}
.model-bullets {
    position: relative;
    float: left;
    width: 570px;
    min-height: 543px;
    margin: 0;
}
.model-bullet {
    position: absolute;
    left: 0;
    top: 0;
}
#model-1 {
    top: 5px;
}
#model-2 {
    top: 145px;
}
#model-3 {
    top: 290px;
}
#model-4 {
    top: 435px;
}
/* tooltips */
.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.4;
    filter: alpha(opacity=0);
    opacity: 0;
}
.tooltip.in {
    filter: alpha(opacity=90);
    opacity: .9;
}
.tooltip-inner {
    max-width: 400px;
    padding: 6px 10px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    border-radius: 4px;
}
/* footer nav */
.nav.footer-nav {
    padding: 0;
    margin: 10px;
    list-style: none;
    text-align: center;
    border-bottom: 1px solid #888;
}
.home .nav.footer-nav {
    border-bottom: 1px solid #fff;
}
.nav.footer-nav > li {
    position: relative;
    display: inline-block;
}
.nav.footer-nav > li > a {
    position: relative;
    display: block;
    color: #666;
    font-weight: 500;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 15px;
}
.home .nav.footer-nav > li > a {

    color: #fff;
}
.nav.footer-nav-left {
    padding: 0;
    margin: 0 0 10px 0;
    list-style: none;
    text-align: left;
}
.nav.footer-nav-left > li {
    position: relative;
    display: inline-block;
}
.nav.footer-nav-left > li > a {
    position: relative;
    display: block;
    color: #666;
    font-weight: 700;
    font-size: 12px;
    margin: 8px 0;
    padding: 2px 17px 2px 13px;
    border-right: 1px solid #666;
}
.nav.footer-nav-left > li:last-child > a {
    border-right: none;
}
.home .nav.footer-nav-left > li > a  {
    border-right: 1px solid #fff;
    color: #fff;
}
.home .nav.footer-nav-left > li > a:last-child {
    border-right: none;
}
.footer-login .nav.footer-nav-left > li > a {
    color: #666 !important;
    border-right: 1px solid #666;
}
.footer-login .nav.footer-nav-left > li:last-child > a {
    border-right: none !important;
}
.footer-nav-right p {
    text-align: right;
    margin-top: 10px;
    font-size: 12px;
}
.btn-primary {
    font-weight: 700;
    font-size: 16px;
    color: #f2f3ee;
    padding: 16px 30px;
    min-width: 200px;
    background-color: #ec1f28;
    background-image: none;
}
/* forms */
legend {
    border: none;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 3px solid #ddd;
    border-radius: 4px;
    box-shadow: none !important;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.form-help {
    font-size: 12px;
    text-align: left;
}
@media (min-height: 800px) {
    .video-popup {
        position: relative;
        background: transparent;
        padding: 40px 0 0 0;
        width: 80%;
        height: auto;
        max-width: 1280px;
        max-height: 760px;
        margin: 0 auto;
    }
}