/* E3D overrides */

body.e3d .navbar {
    background: #fff url(/assets/images/bg-yellow-bar.png) repeat-x left top;
}
body.e3d .navbar-nav>li>a {
    color: #333;
    border-right: 1px solid #00bae3;
}
body.e3d .navbar-nav>li.active>a {
    color: #00bae3;
}
body.e3d .navbar-nav>li>a:focus, body.e3d .navbar-nav>li>a:hover {
    color: #00bae3;
} 
body.e3d .subnav li a {
    color: #fff;
    background: #333; 
}
body.e3d .subnav li a:after {
    border-left: 20px solid #333;
}
body.e3d .subnav li.active a {
    background: #00bae3 !important;
    color: #fff;
    pointer-events: none;
    cursor: default;
}
body.e3d .subnav li.active a:after {
    border-left: 30px solid #00bae3;
}