{layout="layouts/index" classes="about-read-180" title="About READ 180"}
{exp:ce_cache:it id="r180r-about" seconds="3600"}

<a class="nav-arrow next-arrow" href="/reviewer/read-180/experience/"><img src="http://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/next-arrow.png"></a>
<a class="nav-arrow back-arrow" href="/reviewer/read-180/framework/"><img src="http://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/back-arrow.png"></a>

<div class="container main-content">
    {snp_subnav_home}
   
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
           <h1>About <em>READ 180</em> Universal</h1>
            <p class="intro"><em>READ 180</em> Universal, the leading blended learning solution from Scholastic, merges brain science, growth mindset, ongoing assessment for learning, professional development, and content knowledge to ensure that both students and teachers reach their fullest potential.</p>
            <p class="intro"><em>READ 180</em> Universal is more than just a program that helps all readers achieve grade-level proficiency. <em>READ 180</em> Universal is an experience. It’s an experience that transforms school culture, enhances teaching and learning, and forever changes how students see themselves as readers and as part of the global community. There are four key elements that make up this experience. To read more about each of these components, click below.</p>
        </div>
    </div>
    <ul class="circle-nav-wrap circle-nav-wrap-alt circle-nav-no-icons circle-nav-tabs">
    
       <li class="active"> <a class="circle-nav " href="#the-student" data-toggle="tab">
               The Student
               </a></li>
       <li> <a class="circle-nav" href="#the-teacher" data-toggle="tab">
               The Teacher
               </a></li>
        <li><a class="circle-nav" href="#the-model" data-toggle="tab">
                The Model
                </a></li>
        <li><a class="circle-nav" href="#the-partnership" data-toggle="tab">
                The Partnership
                </a></li>
    </ul>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 tab-content" role="tabpanel">
            <div id="the-student" class="active about-bubble tab-pane fade in" >
                <img class="about-bubble-bg" src="{global:assets_base}/assets/images/about-read-180-student.jpg">
                <div class="about-bubble-content">
                   <p><strong>The Student</strong><br>
                  <em>READ 180</em> Universal has the power to change students’ lives forever. They become more engaged, begin to see themselves as readers, take ownership of their learning, and contribute as members of their school and global communities. </p>
                </div>
            </div>
            <div id="the-teacher" class="about-bubble tab-pane fade">
                <img class="about-bubble-bg" src="{global:assets_base}/assets/images/about-read-180-teacher1.jpg">
                <div class="about-bubble-content">
                   <p><strong>The Teacher</strong><br>
                   <em>READ 180</em> Universal is an educative curriculum. It is a system of professional development that includes coaching and training and anytime/anywhere access to on-demand videos, tools, and resources to help teachers and leaders elevate their practice while transforming school and district performance. </p>
                </div>
            </div>
            <div id="the-model" class="about-bubble tab-pane fade clearfix">
                <p><strong>The Model</strong><br>
                Our model for blended learning provides a simple, clear organization to maximize instructional time for teachers. Students are engaged with activities to get them reading, writing, talking, and thinking critically every day in order to facilitate the transfer of new content from short-term to long-term memory. </p>
                <div class="model-graphic">
                    <img src="{global:assets_base}/assets/images/the-model-graphic.png">
                </div>
                <div class="model-bullets">                    
                    <div id="model-1" class="model-bullet"><strong>Whole-Group Learning</strong><br>Teachers begin the class by facilitating systematic instruction in close-reading strategies, academic and content-area vocabulary, writing, conventions, and academic discussion with the whole class.</div>
                    <div id="model-2" class="model-bullet"><strong>Individualized Learning Technology</strong><br>Students work independently on the <span class="nobr"><em>READ 180</em> Universal</span> and <span class="nobr"><em>System 44</em></span> Individualized Learning Technology, where they follow individualized learning paths that allow them to work within their zones of proximal development.</div>
                    <div id="model-3" class="model-bullet"><strong>Small-Group Learning</strong><br> Students receive individualized, data-driven instruction that meets their unique learning needs while building meaningful relationships with their teacher. </div>
                    <div id="model-4" class="model-bullet"><strong>Independent Reading</strong><br>Students engage with complex, content-rich literature and informational texts that they can read with success and to which they can apply their newly acquired vocabulary and comprehension skills. </div>
                </div>
            </div>
            <div id="the-partnership" class="about-bubble tab-pane fade">
                <img class="about-bubble-bg" src="{global:assets_base}/assets/images/about-read-180-partnership.jpg">
                <div class="about-bubble-content">
                   <p><strong>The Partnership</strong><br>
                   As partners, we build a school within your school, working hand in hand to create a customized professional learning and coaching plan to fully support your teachers and leaders in maximizing instructional time in order to accelerate achievement. </p>
                </div>
            </div>
        </div>
    </div>
</div>
{/exp:ce_cache:it}