{layout="layouts/index" classes="experience"  title="Experience READ 180 Universal"}
{exp:ce_cache:it id="r180r-exp" seconds="3600"}

{if segment_4 ==""}

<a class="nav-arrow next-arrow" href="/reviewer/read-180/experience/anna/"><img src="http://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/next-arrow.png"></a>
<a class="nav-arrow back-arrow" href="/reviewer/read-180/about-read-180/"><img src="http://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/back-arrow.png"></a>

<div class="container main-content">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1" style="padding-top: 30px;">
        	<p class="intro">Experience a day in the life of <em>READ 180</em> Universal students and educators. You will interact with all of the core instructional and student-facing materials within the blended learning model.</p>
            <p class="intro">To begin your walk-through, select one of the students or their teacher. Then follow that person through <em>READ 180</em> Universal.</p>
        </div>
        <div class="people-wrap">
        	{exp:channel:entries
        		channel="exp_profiles"
        		disable="categories|pagination"
        		fixed_order="{lv_r180_profiles}"
        		dynamic="no"
        	}
        	<div class="person-group clickable-self">
                <div class="portrait">
        		<img class="" src="{profile_photo}">
                </div>
        		<div class="person-info">
        		<h2>Meet {title}</h2>
        		<p>{profile_subheads}
        		{profile_subheads:item}<br>
        		{/profile_subheads}</p>
        		<img class="short-divider" src="{global:assets_base}/assets/images/short-divider.png">
        		<p><a class="learn-more clickable-link" href="/reviewer/read-180/experience/{url_title}/">Learn More <i class="fa fa-arrow-right"></i></a></p>
        		</div>
        	</div>
        	{/exp:channel:entries}
        </div>
    </div>
</div>
{if:elseif segment_4 =="anna" OR segment_4 =="justin" OR segment_4 =="ms-jacobi"}
{if segment_4=="anna"}
<a class="nav-arrow next-arrow next-arrow-tabs" data-link="/reviewer/read-180/experience/justin/" href="#"><img src="http://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/next-arrow.png"></a>
<a class="nav-arrow back-arrow back-arrow-tabs" data-link="/reviewer/read-180/experience/" href="#"><img src="http://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/back-arrow.png"></a>
{if:elseif segment_4=="justin"}
<a class="nav-arrow next-arrow next-arrow-tabs" data-link="/reviewer/read-180/experience/ms-jacobi/" href="#"><img src="http://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/next-arrow.png"></a>
<a class="nav-arrow back-arrow back-arrow-tabs" data-link="/reviewer/read-180/experience/anna/" href="#"><img src="http://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/back-arrow.png"></a>
{if:elseif  segment_4=="ms-jacobi"}
<a class="nav-arrow next-arrow next-arrow-tabs" data-link="/reviewer/read-180/review-content/" href="#"><img src="http://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/next-arrow.png"></a>
<a class="nav-arrow back-arrow back-arrow-tabs" data-link="/reviewer/read-180/experience/justin/" href="#"><img src="http://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/back-arrow.png"></a>
{/if}
<div class="container main-content">
    {!-- {snp_subnav_experience} --}
	{exp:channel:entries
		channel="exp_profiles"
		disable="categories|pagination"
		url_title="{segment_4}"
		dynamic="no"
	}
    <div class="row">
    	<div class="col-12-sm text-center">
            <div class="dropdown exp-dropdown-wrap">
                <button class="dropdown-toggle exp-dropdown" href="#" id="expDropdown" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-users"></i><span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-exp" role="menu" aria-labelledby="expDropdown">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/reviewer/read-180/experience/anna/"><img src="http://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/anna-thumb.jpg">ANNA <br><span>6th Grade<br>Lexile Measure: 380L</span></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/reviewer/read-180/experience/justin/"><img src="http://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/justin-thumb.jpg">JUSTIN<br><span>7th Grade<br>Lexile Measure: 860L</span></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/reviewer/read-180/experience/ms-jacobi/"><img src="http://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/ms-jacobi-thumb.jpg">MS. JACOBI<br><span><em>READ 180</em> Teacher<br>Third Year Teaching</span></a></li>
                </ul>
            </div>
            <ul class="nav nav-tabs subnav subnav-tabs" role="tablist">
    			<li class="active "><a class="person-tab" href="#tab0" data-toggle="tab">{title}</a></li>
    			{profile_pages}
    			<li class=""><a href="#tab{profile_pages:count}">{profile_pages:title}</a></li>
    			{/profile_pages}
    		</ul>
    	</div>
    </div>
    <div class="sub-content profile tab-content" role="tabpanel">
    	<div class="tab-pane fade in active" id="tab0">
	    	<div class="row">
	    	    <div class="col-xs-3 col-xs-offset-1">
	    	    	<img src="{profile_photo}">
	    	    </div><!-- /.col-xs-4 -->
				<div class="col-xs-7 profile-overview">
					<h1><span>A Day in the Life of...</span><br>{title}</h1>
					{profile_intro_copy}
					<div class="row">
					{profile_pages}
						<div class="col-xs-4 profile-page-intro">
							<img class="profile-icon" src="{profile_pages:icon}"><br>
							<h4>{profile_pages:title}</h4>
							{profile_pages:intro}
						</div>
					{/profile_pages}
					</div><!-- /.row -->
				</div><!-- /.col-xs-7 -->
	    	</div><!-- /.row -->
	    </div><!-- /.tab-pane -->
	    {profile_pages}
	    <div class="tab-pane fade" id="tab{profile_pages:count}">
	    	<div class="row">
	    	    <div class="col-xs-3 col-xs-offset-1">
	    	    	{profile_pages:left_column}
	    	    </div><!-- /.col-xs-4 -->
				<div class="col-xs-7">
					{profile_pages:right_column}
				</div><!-- /.col-xs-7 -->
	    	</div><!-- /.row -->
	    </div><!-- /.tab-pane -->
	    {/profile_pages}
    	{/exp:channel:entries}
	</div><!-- /.sub-content -->
</div><!-- /.container -->
{if:else}
<div class="container main-content main-content-padded">
    <div class="row">
        <div class="col-xs-12">
            {exp:channel:entries
                channel="static_pages"
                disable="categories|member_data|pagination"
                limit="1"
                url_title="page-not-found"
            }
            <h1>{if title_alt}{title_alt}{if:else}{title}{/if}</h1>
            {content}
            {/exp:channel:entries}
        </div>
    </div>
</div>
{/if}
{/exp:ce_cache:it}