{layout="layouts/index" classes="review-content" title="READ 180 Review Content"}


{if segment_4 ==""}
{exp:ce_cache:it id="r180r-rc-home" seconds="3600"}
<div class="container main-content">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1" style="padding-top: 30px;">
        	<h1>Select Program Component</h1>
            <p class="intro">Now that you have experienced <em>READ 180</em> Universal from the perspectives of one teacher and her students, please explore all of the teacher- and student-facing materials. </p>
            <p class="intro">All of the program resources are organized by four categories: Assessment, Individualized Learning Technology, Whole- and Small-Group Learning, and Independent Reading. Click on one of the four components below to explore.</p>
        </div>
        <div class="circle-nav-wrap">
	        <a class="circle-nav" href="/reviewer/read-180/review-content/assessment">
	        	<i class="fa fa-pencil-square-o"></i><br>
	        	Assessment
	        </a>
	        <a class="circle-nav" href="/reviewer/read-180/review-content/ilt/">
	        	<i class="fa fa-lightbulb-o"></i><br>
	        	Individualized Learning Technology
	        </a>
	        <a class="circle-nav" href="/reviewer/read-180/review-content/whole-small-group-learning/">
	        	<i class="fa fa-users"></i><br>
	        	Whole- &amp; Small-Group Learning
	        </a>
	        <a class="circle-nav" href="/reviewer/read-180/review-content/independent-reading/">
	        	<i class="fa fa-book"></i><br>
	        	Independent Reading
	        </a>
        </div>
    </div>
</div>
{/exp:ce_cache:it}
{if:elseif segment_4 == "assessment"}
{exp:ce_cache:it id="r180r-rc-ass" seconds="3600"}

<div class="container main-content">
    {snp_subnav_review}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 intro margin-top-0">
            {exp:channel:entries
                channel="content_review"
                disable="categories|member_data|pagination"
                dynamic="no"
                url_title="r180r-assessment"
            }
                {cr_intro_copy}
                {if cr_disclaimer}
                <div class="disclaimer">
                    {cr_disclaimer}
                </div>
                {/if}
            {/exp:channel:entries}
            {!--  <p class="intro" style="margin-top: 0;">Ensuring that students are operating at their zones of proximal development is critical to ensuring that students are successful in any program. <em>READ 180</em> Universal provides educators and their students with a suite of assessments, including universal screeners, formative assessments, curriculum-based assessments, and performance-based assessments. These assessments are accompanied by a data and analytics infrastructure that provides educators and administrators with real-time data and reports that can be used for instructional planning. A brief description of each component will appear when you roll over the component name. Click on the component to expand and review that resource. </p> --}
        </div><!-- /.col-xs-10 -->
    </div><!-- /.row -->
    <div class="container">
        <div role="tabpanel">
        	<div class="row">
        	    <div class="col-xs-12">
        			<ul class="nav nav-tabs main-tabs" id="main-tabs" role="tablist">
        			   	<!--top level tabs-->
        			 	<li class="active"><a href="#pane1" data-toggle="tab"><em>READ 180</em></a></li>
        			 	<li><a href="#pane2" data-toggle="tab"><em>Scholastic Reading Inventory</em></a></li>
        			 	<li><a href="#pane3" data-toggle="tab"><em>Scholastic Phonics Inventory</em></a></li>
        			 	<li><a href="#pane4" data-toggle="tab"><em>Scholastic Reading Counts!</em></a></li>
        			</ul>
        		</div>
        	</div>
        	<div class="row">
        	    <div class="col-xs-12">
                    <div class="tab-content tab-content-main">
                		<!-- R180 tab -->
                        <div class="tab-pane active" id="pane1">
                        	<div class="row">
                	            <div class="col-xs-3">
                	            	<div class="tabs-left">
                                        {embed="_embeds/tabs_left" cat="3" group="2" titlealt="r180-cra" type="icon-grid"}
                                    </div>
                                </div><!-- /.col-xs-3 -->
                                <div class="col-xs-9 tabs-right">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab1">
                	                        <div class="row">
                                                <div id="tab-pane-content" class="tab-pane-content">
                                                <div id="tab-loading"><img src="{global:assets_base}/assets/images/loading-50.gif" alt="loading"></div>
                                                {embed="_embeds/tab_content" cat="19" set="group-2"}
                                                {!-- {exp:channel:entries
                                                    channel="resources"
                                                    disable="member_data|pagination"
                                                    dynamic="no"
                                                    category="19"
                                                    orderby="title"
                                                    sort="asc"
                                                }
                                                <div class="col-xs-3 doc-block clickable">
                                                    <img src="{global:assets_base}/assets/images/icon-document.png"><br>
                                                    <p>{title}</p>
                                                    <p><a class="clickable-link" href="{res_file}{url}{/res_file}" target="_blank">Read</a></p>
                                                </div>
                                                {/exp:channel:entries} --}
                	                            </div>
                	                        </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-xs-9 -->
                            </div><!-- /.row -->
                        </div><!-- /.tab-pane -->

                		<!-- SRI tab -->
                        <div class="tab-pane tab-pane-full" id="pane2">
                            <div class="row">
                                <div class="col-xs-5">
                                    <img src="{global:assets_base}/assets/images/logo-sri-360.jpg" style="margin:10px;">
                                </div>
                                <div class="col-xs-7">
                                    <h3><em>Scholastic Reading Inventory</em> (SRI)</h3>
                                    <p>SRI is a proven universal screener and progress-monitoring assessment that measures reading growth on the Lexile&reg; Framework for Reading. </p>
                                    {embed="_embeds/tab_content_list" cat="61"}
                                </div>
                            </div>
                        </div>

                        <!-- SPI tab -->
                        <div class="tab-pane tab-pane-full" id="pane3">
                           <div class="row">
                                <div class="col-xs-5">
                                    <img src="{global:assets_base}/assets/images/logo-spi-360.jpg" style="margin:10px;">
                                </div>
                                <div class="col-xs-7">
                                    <h3><em>Scholastic Phonics Inventory</em> (SPI)</h3>
                                    <p>SPI is a screening tool designed to determine if the root cause of reading difficulty is decoding. </p>
                                    {embed="_embeds/tab_content_list" cat="62"}
                                </div>
                            </div>
                        </div>

                        <!-- SPC tab -->
                        <div class="tab-pane tab-pane-full" id="pane4">
                            <div class="row">
                                <div class="col-xs-5">
                                    <img src="{global:assets_base}/assets/images/logo-src-360.jpg" style="margin:10px;">
                                </div>
                                <div class="col-xs-7">
                                    <h3><em>Scholastic Reading Counts!</em> (SRC!)</h3>
                                    <p>SRC! is an independent reading program that combines reading practice and software-based reading assessment.</p>
                                    {embed="_embeds/tab_content_list" cat="63"}
                                </div>
                            </div>
                        </div>
                	</div>
                </div>
            </div><!-- /.tab-content -->
        </div><!-- /tabpanel -->
    </div>
</div><!-- /.main-content -->
{/exp:ce_cache:it}
{if:elseif segment_4 == "ilt"}
{exp:ce_cache:it id="r180r-rc-ilt" seconds="3600"}

<div class="container main-content">
    {snp_subnav_review}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 intro margin-top-0">
            {exp:channel:entries
                channel="content_review"
                disable="categories|member_data|pagination"
                dynamic="no"
                url_title="r180r-individualized-learning-technology"
            }
                {cr_intro_copy}
                {if cr_disclaimer}
                <div class="disclaimer">
                    {cr_disclaimer}
                </div>
                {/if}
            {/exp:channel:entries}
            {!-- <p class="intro" style="margin-top: 0;">Struggling readers need intensive, individualized instruction to address their unique learning needs. Students are provided with two individualized learning technology tracks within <em>READ 180</em> Universal. Students in need of foundational reading support will use the System 44 Individualized Learning Technology. Those students who need to build fluency and automaticity with their reading, vocabulary, spelling, and writing skills will use the <em>READ 180</em> Individualized Learning Technology. Below, you will be able to review the Individualized Learning Technology for both <em>System 44</em> and <em>READ 180</em>. You will also be able to review instructional materials and supplemental resources that support and extend a student’s experience on the Individualized Learning Technology. </p> --}
        </div><!-- /.col-xs-8 -->
    </div><!-- /.row -->
    <div class="container">
        <div role="tabpanel">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs main-tabs" id="main-tabs" role="tablist">
                        <!--top level tabs-->
                        <li class="active"><a href="#pane1" data-toggle="tab"><em>READ 180</em></a></li>
                        <li><a href="#pane2" data-toggle="tab"><em>System 44</em></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="tab-content tab-content-main">
                        <!-- R180 tab -->
                        <div class="tab-pane active" id="pane1">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="tabs-left">
                                        {embed="_embeds/tabs_left" cat="35" group="2" titlealt="r180-cra" type="icon-grid"}
                                    </div>
                                </div><!-- /.col-xs-3 -->
                                <div class="col-xs-9 tabs-right">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab1">
                                            <div class="row">
                                                <div id="tab-pane-content" class="tab-pane-content">
                                                <div id="tab-loading"><img src="{global:assets_base}/assets/images/loading-50.gif" alt="loading"></div>
                                                
                                                <div class="row">
                                                    <div class="col-xs-4" class="text-center">
                                                        <img src="{global:assets_base}/assets/images/logo-read180-340.png" style="margin:-10px auto 0 auto; padding: 0 20px;" class="img-responsive">
                                                    </div>
                                                    <div class="col-xs-8">
                                                        <h3>Individualized Learning<br>Technology Content</h3>
                                                        <p>The <em>READ 180</em> Universal Individualized Learning Technology allows students to follow an individualized learning path that accelerates them to proficiency in reading, academic vocabulary and language, and writing.</p>
                                                        {embed="_embeds/tab_content_list" cat="36"}
                                                    </div>
                                                </div>
                                                {!-- 
                                                {exp:channel:entries
                                                    channel="resources"
                                                    disable="member_data|pagination"
                                                    dynamic="no"
                                                    category="36"
                                                    orderby="title"
                                                    sort="asc"
                                                }
                                                <div class="col-xs-3 doc-block clickable">
                                                    <img src="{global:assets_base}/assets/images/icon-document.png"><br>
                                                    <p>{title}</p>
                                                    <p><a class="clickable-link" href="{res_file}{url}{/res_file}" target="_blank">Read</a></p>
                                                </div> 
                                                {/exp:channel:entries}
                                                --}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-xs-9 -->
                            </div><!-- /.row -->
                        </div><!-- /.tab-pane -->

                        <!-- System 44 tab -->
                        <div class="tab-pane tab-pane-full" id="pane2">
                            <div class="row">
                                <div class="col-xs-5">
                                    <img src="{global:assets_base}/assets/images/logo-system-44-360.jpg" style="margin:10px;">
                                </div>
                                <div class="col-xs-7">
                                    <h3><em>System 44</em></h3>
                                    <p>The <span class="nobr"><em>System 44</em></span> Individualized Learning Technology delivers a personalized learning path through five instructional strands that cover phonics, decoding, word recognition, and writing.</p>
                                    {embed="_embeds/tab_content_list" cat="33"}
                                    {embed="_embeds/tab_content_list_order" cat="34" set="group-2"}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.tab-content -->
        </div><!-- /tabpanel -->
    </div>
</div><!-- /.main-content -->
{/exp:ce_cache:it}
{if:elseif segment_4 == "whole-small-group-learning"}
{exp:ce_cache:it id="r180r-rc-wsg" seconds="3600"}

<div class="container main-content">
    {snp_subnav_review}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 intro margin-top-0">
            {exp:channel:entries
                channel="content_review"
                disable="categories|member_data|pagination"
                dynamic="no"
                url_title="r180r-whole-and-small-group-learning"
            }
                {cr_intro_copy}
                {if cr_disclaimer}
                <div class="disclaimer">
                    {cr_disclaimer}
                </div>
                {/if}
            {/exp:channel:entries}
        </div><!-- /.col-xs-10 -->
    </div><!-- /.row -->
    <div class="container">
        <div role="tabpanel">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs main-tabs" id="main-tabs" role="tablist">
                        <!--top level tabs-->
                        <li class="active"><a href="#pane1" data-toggle="tab"><em>READ 180</em></a></li>
                        <li><a href="#pane2" data-toggle="tab">Planning and Pacing Guide</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="tab-content tab-content-main">
                        <!-- R180 tab -->
                        <div class="tab-pane active" id="pane1">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="tabs-left">
                                        {embed="_embeds/tabs_left" cat="47" group="2" titlealt="r180-cra" type="icon-grid"}
                                    </div>
                                </div><!-- /.col-xs-3 -->
                                <div class="col-xs-9 tabs-right">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab1">
                                            <div class="row">
                                                <div id="tab-pane-content" class="tab-pane-content">
                                                <div id="tab-loading"><img src="{global:assets_base}/assets/images/loading-50.gif" alt="loading"></div>
                                                {embed="_embeds/tab_content" cat="48"}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-xs-9 -->
                            </div><!-- /.row -->
                        </div><!-- /.tab-pane -->

                        <!-- PPG tab -->
                        <div class="tab-pane tab-pane-full" id="pane2">
                            <div class="row">
                                <div class="col-xs-5" style="text-align: center;">
                                    <img src="{global:assets_base}/assets/images/ppg-cover.jpg" style="margin: 0 auto;">
                                </div>
                                <div class="col-xs-7">
                                    <h3>Planning and Pacing Guide</h3>
                                    {embed="_embeds/tab_content_list" cat="46"}
                                    {!-- <p><a class="doc-link" href="#"><i class="fa fa-file-text"></i> Planning and Pacing Guide</a></p> --}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.tab-content -->
        </div><!-- /tabpanel -->
    </div>
</div><!-- /.main-content -->
{/exp:ce_cache:it}
{if:elseif segment_4 == "independent-reading"}
{exp:ce_cache:it id="r180r-rc-ir" seconds="3600"}

<div class="container main-content">
    {snp_subnav_review}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 intro margin-top-0">
            {exp:channel:entries
                channel="content_review"
                disable="categories|member_data|pagination"
                dynamic="no"
                url_title="r180r-independent-reading"
            }
                {cr_intro_copy}
                {if cr_disclaimer}
                <div class="disclaimer">
                    {cr_disclaimer}
                </div>
                {/if}
            {/exp:channel:entries}
        </div><!-- /.col-xs-10 -->
    </div><!-- /.row -->
    <div class="container">
        <div role="tabpanel">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs main-tabs" id="main-tabs" role="tablist">
                        <!--top level tabs-->
                        <li class="active"><a href="#pane1" data-toggle="tab">Paperbacks</a></li>
                        <li><a href="#pane2" data-toggle="tab">Audiobooks</a></li>
                        <li><a href="#pane3" data-toggle="tab">eReads</a></li>
                        <li><a href="#pane4" data-toggle="tab">eBooks</a></li>
                        <li><a href="#pane5" data-toggle="tab">Teaching Supports</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="tab-content tab-content-main">
                        
                        <!-- Paperbacks -->
                        <div class="tab-pane active" id="pane1">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="tabs-left">
                                        {embed="_embeds/tabs_left" cat="21" group="2" titlealt="r180-cra" type="ind-read"}
                                    </div>
                                </div><!-- /.col-xs-3 -->
                                <div class="col-xs-9 tabs-right">
                                    <div class="tab-content tab-content-narrow">
                                        <div class="tab-pane active" id="tab1">
                                            <div class="row">
                                                <div id="tab-pane-content" class="tab-pane-content">
                                                <div id="tab-loading"><img src="{global:assets_base}/assets/images/loading-50.gif" alt="loading"></div>
                                                {embed="_embeds/tab_content_ir" cat="181"  cols="2"}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-xs-9 -->
                            </div><!-- /.row -->
                        </div><!-- /.tab-pane -->

                        <!-- Audiobooks tab -->
                        <div class="tab-pane" id="pane2">
                            <div class="row">
                                <div class="col-xs-12 tabs-right">
                                    <div class="tab-content">
                                        <div class="tab-pane tab-pane-full active">
                                            {embed="_embeds/tab_content_ir" cat="22"}
                                            
                                        </div>
                                    </div>
                                </div><!-- /.col-xs-9 -->
                            </div><!-- /.row -->
                        </div><!-- /.tab-pane -->

                        <!-- eReads tab -->
                        <div class="tab-pane" id="pane3">
                            <div class="row">
                                <div class="col-xs-12 tabs-right">
                                    <div class="tab-content">
                                        <div class="tab-pane tab-pane-full active">
                                            {embed="_embeds/tab_content_ir" cat="23"}
                                            
                                        </div>
                                    </div>
                                </div><!-- /.col-xs-9 -->
                            </div><!-- /.row -->
                        </div><!-- /.tab-pane -->
                        
                        <!-- ebooks tab -->
                        <div class="tab-pane " id="pane4">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="tabs-left">
                                        {embed="_embeds/tabs_left" cat="24" group="2" titlealt="r180-cra" type="ind-read"}
                                    </div>
                                </div><!-- /.col-xs-3 -->
                                <div class="col-xs-9 tabs-right">
                                    <div class="tab-content tab-content-narrow">
                                        <div class="tab-pane active" id="tab1">
                                            <div class="row">
                                                <div id="tab-pane-content" class="tab-pane-content">
                                                <div id="tab-loading"><img src="{global:assets_base}/assets/images/loading-50.gif" alt="loading"></div>
                                                {embed="_embeds/tab_content_ir" cat="183"  cols="2"}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-xs-9 -->
                            </div><!-- /.row -->
                        </div><!-- /.tab-pane -->

                        <!-- Teaching Supports -->
                        <div class="tab-pane" id="pane5">
                            <div class="row">
                                <div class="col-xs-12 tabs-right">
                                    <div class="tab-content">
                                        <div class="tab-pane tab-pane-full active">
                                            {embed="_embeds/tab_content_order" cat="25" set="group-2"}
                                            
                                        </div>
                                    </div>
                                </div><!-- /.col-xs-9 -->
                            </div><!-- /.row -->
                        </div><!-- /.tab-pane -->

                    </div>
                </div>
            </div><!-- /.tab-content -->
        </div><!-- /tabpanel -->
    </div>
</div><!-- /.main-content -->
{/exp:ce_cache:it}

{if:else}
{exp:ce_cache:it id="r180r-rc-404" seconds="3600"}

<div class="container main-content main-content-padded">
    <div class="row">
        <div class="col-xs-12 text-center">
            {exp:channel:entries
                channel="static_pages"
                disable="categories|member_data|pagination"
                limit="1"
                url_title="page-not-found"
            }
            <h1>{if title_alt}{title_alt}{if:else}{title}{/if}</h1>
            {content}
            {/exp:channel:entries}
        </div>
    </div>
</div>
{/exp:ce_cache:it}

{/if}
