test4
{exp:channel:entries
    channel="resources"
    disable="member_data|pagination"
    dynamic="no"
    category="180"
    orderby="title"
    sort="asc"
    limit="5"
}
{switch='<div class="row">||'}

{if res_file_type=="pb"}
    <div class="col-xs-4 book-group clearfix">
        {exp:ce_img:pair src="{res_cover:url}" width="130" crop="no" quality="84" class="book-thumb"}
        <img src="{made}" alt="" width="{width}" height="{height}" /><br>
        {/exp:ce_img:pair}
        {!-- <img class="book-thumb" src="http://www.placehold.it/130x172"> --}
        <div class="book-info">
            <h4>{title}</h4>
            {if res_quiz}<a class="btn btn-link" href="{res_quiz}">View Quiz</a>{/if}
        </div>
    </div>
{/if}
{if count != total_results}{switch='||</div>'}{/if}
{if count == total_results}</div>{/if}
{/exp:channel:entries}

{exp:ce_img:pair src="{your_custom_field}"}
<img src="{made}" alt="" width="{width}" height="{height}" />
{/exp:ce_img:pair}





