<nav class="navbar">
    <div class="container">
        <div id="logo-sch">
            <img src="{global:assets_base}/assets/images/scholastic-logo-top.png">
        </div><!--/.logo-sch -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/{segment_1}/{segment_2}/"><img src="{global:assets_base}/assets/images/read-180-logo-final-195.png" alt="READ 180"></a>
        </div><!--/.navbar-header -->
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{if segment_3==''}active{/if}"class="active"><a href="/{segment_1}/{segment_2}/">Overview</a>
                </li>
                <li class="{if segment_3=='experience'}active{/if}"><a href="/{segment_1}/{segment_2}/experience/">Experience <em>READ 180</em> Universal</a>
                </li>
                <li class="{if segment_3=='review-content'}active{/if}"><a href="/{segment_1}/{segment_2}/review-content/">Review Content</a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
        <div id="sign-out" class="pull-right">
            <a href="/{segment_1}/{segment_2}/page/tutorial/" ><i class="fa fa-graduation-cap"></i></i> Tutorial</a>
            <a href="{exp:freemember:logout_url return='reviewer'}" ><i class="fa fa-sign-out"></i> Sign Out</a>
        </div><!--/#sign-out -->
    </div><!--/.container -->
</nav>