<div class="row">
	<div class="col-12-sm text-center">
		<ul class="subnav">
			<li class="{if segment_4=='assessment'}active{/if}"><a href="/{segment_1}/{segment_2}/review-content/assessment/">Assessment</a></li>
			<li class="{if segment_4=='ilt'}active{/if}"><a href="/{segment_1}/{segment_2}/review-content/ilt/">Individualized Learning Technology</a></li>
			<li class="{if segment_4=='whole-small-group-learning'}active{/if}"><a href="/{segment_1}/{segment_2}/review-content/whole-small-group-learning/">Whole- &amp; Small-Group Learning</a></li>
			<li class="{if segment_4=='independent-reading'}active{/if}"><a href="/{segment_1}/{segment_2}/review-content/independent-reading/">Independent Reading</a></li>
		</ul>
	</div>
</div>