<footer class="footer">
    <div class="container">
        {if segment_1 == "reviewer"}
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav footer-nav">
                    <li><a href="https://s3-us-west-1.amazonaws.com/schl-ca-reviewers/resources/e3d_prs_n.pdf" target="_blank"><i class="fa fa-file-text"></i> Reviewer Guide</a></li>
                    <li><a href="https://s3-us-west-1.amazonaws.com/schl-ca-reviewers/resources/e3d_ref_n.pdf" target="_blank"><i class="fa fa-file-text"></i> Evidence and Efficacy Data</a></li>
                    <li><a href="https://s3-us-west-1.amazonaws.com/schl-ca-reviewers/resources/e3d_stm.docx" target="_blank"><i class="fa fa-file-text"></i> Standards Map</a></li>
                    <li><a href="https://s3-us-west-1.amazonaws.com/schl-ca-reviewers/resources/e3d_ctm.docx" target="_blank"><i class="fa fa-file-text"></i> Criteria Map</a></li>
                </ul>
            </div>
        </div>
        {/if}
        <div class="row">
            <div class="col-xs-6">
                <ul class="nav footer-nav-left">
                    {if segment_1=="public"}
                    <li><a href="/{segment_1}/{segment_2}/page/contact-public/">Contact</a></li>
                    {if:else}
                    <li><a href="/{segment_1}/{segment_2}/page/contact/">Contact</a></li>
                    {/if}
                    <li><a href="/{segment_1}/{segment_2}/page/privacy-policy/">PRIVACY POLICY</a></li>
                    <li><a href="/{segment_1}/{segment_2}/page/terms-of-use/">Terms of Use</a></li>
                </ul>
            </div>
            <div class="col-xs-6 footer-nav-right">
                <p>TM ® &amp; © Scholastic Inc. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>