<footer class="footer footer-login">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <ul class="nav footer-nav-left">
                    {if segment_2=="public"}
                    <li><a href="/{segment_1}/page/contact-public/">Contact</a></li></li>
                    {if:else}
                    <li><a href="/{segment_1}/page/contact/">Contact</a></li>
                    {/if}
                    <li><a href="/{segment_1}/page/privacy-policy/">PRIVACY POLICY</a></li>
                    <li><a href="/{segment_1}/page/terms-of-use/">Terms of Use</a></li>
                </ul>
            </div>
             <div class="col-xs-6 footer-nav-right">
                <p>TM ® &amp; © Scholastic Inc. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
