<div class="row">
	<div class="col-12-sm text-center">
		<ul class="subnav">
			<li class="{if segment_4=='assessment'}active{/if}"><a href="/public/e3d/review-content/assessment/">Assessment</a></li>
			<li class="{if segment_4=='student-materials'}active{/if}"><a href="/public/e3d/review-content/student-materials/">Student Materials</a></li>    
			<li class="{if segment_4=='independent-reading'}active{/if}"><a href="/public/e3d/review-content/independent-reading/">Independent Reading</a></li>
		</ul>
	</div>
</div>