<div class="row">
	<div class="col-12-sm text-center">
		<ul class="subnav">
			<li class="{if segment_4=='assessment'}active{/if}"><a href="/reviewer/e3d/review-content/assessment/">Assessment</a></li>
			<li class="{if segment_4=='instructional-resources'}active{/if}"><a href="/reviewer/e3d/review-content/instructional-resources/">Instructional Resources</a></li>
			<li class="{if segment_4=='data-and-reporting'}active{/if}"><a href="/reviewer/e3d/review-content/data-and-reporting/">Data &amp; Reporting</a></li>
		</ul>
	</div>
</div>