<div class="row">
	<div class="col-12-sm text-center">
		<ul class="subnav">
			<li {if segment_3 == ''}class="active"{/if}><a href="/{segment_1}/{segment_2}/">Welcome</a></li>
			<li {if segment_3 == 'framework'}class="active"{/if}><a href="/{segment_1}/{segment_2}/framework/">Framework</a></li>
			<li {if segment_3 == 'about-english-3d'}class="active"{/if}><a href="/{segment_1}/{segment_2}/about-english-3d/">About <em>English 3D</em></a></li>
		</ul>
	</div>
</div>