<section id="top-bar" class="top-bar">
    <div class="container">
        <div class="row">
      	<div class="col-xs-4 back-nav">
            {if segment_1 == "public" OR segment_1 == "reviewer"}
                {if segment_2 == "e3d" OR segment_2 == "read-180" OR segment_2 == "page"}
                <a id="back-nav" href="#"><i class="fa fa-arrow-left"></i> Back</a>
                {/if}

            {/if}
        	{!-- {if segment_3 == "page"}
            <a href="/{segment_1}/"><i class="fa fa-arrow-left"></i> Back</a>
            {if:elseif segment_4 == "page"}
            <a id="back-nav" href="#"><i class="fa fa-arrow-left"></i> Back</a>
            {/if} --}
        	</div>
        	<div class="col-xs-4">
        		<img class="sch-logo" src="{global:assets_base}/assets/images/scholastic-logo-top.png">
        	</div>
        </div>
    </div>
</section>