{layout="layouts/index" classes="about-read-180"}
{exp:ce_cache:it id="r180p-about" seconds="3600"}

<a class="nav-arrow next-arrow" href="/public/read-180/review-content/"><img src="http://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/next-arrow.png"></a>
<a class="nav-arrow back-arrow" href="/public/read-180/framework"><img src="http://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/back-arrow.png"></a>

<div class="container main-content">
    {snp_subnav_home}
   
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
           <h1>About <em>READ 180</em> Universal</h1>
            <p class="intro"><em>READ 180</em> Universal, the leading blended learning solution from Scholastic, merges brain science, growth mindset, ongoing assessment for learning, professional development, and content knowledge to ensure that students reach their fullest potential.</p>
            <p class="intro"><em>READ 180</em> Universal is more than just a program that helps all readers achieve grade-level proficiency. <em>READ 180</em> Universal is an experience. It’s an experience that transforms school culture, enhances teaching and learning, and forever changes how students see themselves as readers and as part of the global community.</p>
        </div>
    </div>
</div>
{/exp:ce_cache:it}