{layout="layouts/index" classes="framework"}

{exp:ce_cache:it id="r180p-frame" seconds="3600"}
<a class="nav-arrow next-arrow" href="/public/read-180/about-read-180/"><img src="http://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/next-arrow.png"></a>
<a class="nav-arrow back-arrow" href="/public/read-180/"><img src="http://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/back-arrow.png"></a>

<div class="container main-content">
    {snp_subnav_home}
   
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
           <h1>Framework</h1>
           <p class="intro"><em>READ 180</em> Universal was designed to address the five themes that encapsulate the California English Language Arts/English Language Development Framework: Meaning Making, Language Development, Effective Expression, Content Knowledge, and Foundational Skills. These themes are a foundation for <span class="nobr"><em>READ 180</em> Universal’s</span> pedagogy and instructional practice. </p>
           <p class="intro">Click on each theme below for an overview of how <em>READ 180</em> Universal addresses these five themes, creating an environment for effective teaching and learning.</p>
          
        </div>
    </div>
    <div class="framework-chart">
        <img class="framework-chart-bg" src="{global:s3_base}/images/r180-framework-graphic-rev.png">
        <div id="chart-text-1" class="framework-chart-text"><p>“Meaning making should be the central purpose for interacting with text, producing text, participating in discussions, giving presentations, and engaging in research.”</p>
        </div>
        <div id="chart-text-2" class="framework-chart-text"><p>“It is the medium of literacy and learning; it is with and through language that students learn, think, and express.”</p>
        </div>
        <div id="chart-text-3" class="framework-chart-text"><p>“In order for students to independently learn with and enjoy text and express themselves through written language, they should develop facility with the alphabetic code.”</p>
        </div>
        <div id="chart-text-4" class="framework-chart-text"><p>“Reciprocity is key; content knowledge helps build reading, writing, and language, and literacy helps build content knowledge.”</p>
        </div>
        <div id="chart-text-5" class="framework-chart-text"><p>“Effective expression in writing, discussing, and presenting depends on drawing clear understandings from and interacting with oral, written, and visual texts.”</p>
        </div>
        <div id="chart-link-1" class="framework-chart-link" data-toggle="modal" data-target="#chart-pop-1"></div>
        <div id="chart-link-2" class="framework-chart-link" data-toggle="modal" data-target="#chart-pop-2"></div>
        <div id="chart-link-3" class="framework-chart-link" data-toggle="modal" data-target="#chart-pop-3"></div>
        <div id="chart-link-4" class="framework-chart-link" data-toggle="modal" data-target="#chart-pop-4"></div>
        <div id="chart-link-5" class="framework-chart-link" data-toggle="modal" data-target="#chart-pop-5"></div>
        <!-- Modal -->
        <div class="modal fade" id="chart-pop-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <img class="close blue-close" src="{global:assets_base}/assets/images/close-button.png" data-dismiss="modal" aria-label="Close">
                        <h3 class="text-center">Meaning Making</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <p><em>READ 180</em> Universal develops a student’s ability to deeply analyze text, including making inferences and making connections, as well as the ability to acquire strategies, such as close reading, using evidence from text, and metacognitional techniques, to understand both literature and discipline-based informational text. </p> 
                            </div>
                            <div class="col-xs-6">
                                <h4>Author</h4>
                                <p><img src="{global:assets_base}/assets/images/ted-hasselbring-200.jpg"></p>
                                <p>Dr. Ted Hasselbring<br>
                                Professor of Special Education Technology<br>
                                Peabody College of Education<br>
                                Vanderbilt University
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="chart-pop-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <img class="close blue-close" src="{global:assets_base}/assets/images/close-button.png" data-dismiss="modal" aria-label="Close">
                        <h3 class="text-center">Language Development</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <p><em>READ 180</em> Universal accelerates a student’s acquisition of academic and domain-specific vocabulary so that he or she can navigate increasingly complex text with confidence and independence. </p> 
                            </div>
                            <div class="col-xs-6">
                                <h4>Author</h4>
                                <p><img src="{global:assets_base}/assets/images/kate-kinsella-200.jpg"></p>
                                <p>Dr. Kate Kinsella<br>
                                Adjunct Faculty Member<br>
                                Center for Teacher Efficacy<br>
                                San Francisco State University
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="chart-pop-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <img class="close blue-close" src="{global:assets_base}/assets/images/close-button.png" data-dismiss="modal" aria-label="Close">
                        <h3 class="text-center">Foundational Skills</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <p><em>READ 180</em> Universal helps students move through a linguistic progression of letter/sound correspondences so that students can quickly and efficiently make meaning of printed words and apply those skills to increasingly complex text. </p>
                            </div>
                            <div class="col-xs-6">
                                <h4>Author</h4>
                                <p><img src="{global:assets_base}/assets/images/marilyn-head-shot-200.jpg"></p>
                                <p>Dr. Marilyn Adams<br>
                                Visiting Professor <br>
                                Cognitive & Linguistic Sciences Department<br>
                                Brown University
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="chart-pop-4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <img class="close blue-close" src="{global:assets_base}/assets/images/close-button.png" data-dismiss="modal" aria-label="Close">
                        <h3 class="text-center">Content Knowledge</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <p><em>READ 180</em> Universal accelerates a student’s development of background knowledge; provides support and motivation for the content areas, such as biographies of key figures and key events in history or science; and assists students in tackling the different text structures across the content areas, all of which improve comprehension.</p>
                            </div>
                            <div class="col-xs-6">
                                <h4>Author</h4>
                                <p><img src="{global:assets_base}/assets/images/julie-cropped-200.jpg"></p>
                                <p>Dr. Julie Washington<br>
                                Professor, Language & Literacy <br>
                                Department of Educational Psychology<br>
                                Georgia State University
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="chart-pop-5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <img class="close blue-close" src="{global:assets_base}/assets/images/close-button.png" data-dismiss="modal" aria-label="Close">
                        <h3 class="text-center">Effective Expression</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <p><em>READ 180</em> Universal deepens students’ understanding of topics and knowledge across the content areas by having students write, argue, and engage in rich academic discussion in argument, informative, and narrative styles. </p>
                            </div>
                            <div class="col-xs-6">
                                <h4>Author</h4>
                                <p><img src="{global:assets_base}/assets/images/graham-steven-157.jpg"></p>
                                <p>Dr. Steve Graham<br>
                                Mary Emily Warner Professor<br>
                                Mary Lou Fulton Teacher’s College<br>
                                Arizona State University</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/exp:ce_cache:it}