{layout="layouts/index"}

{if segment_3==""}
{layout:set name="classes" value="home"}
<a class="nav-arrow next-arrow" href="/public/read-180/framework/"><img src="http://s3-us-west-1.amazonaws.com/schl-ca-reviewers/images/next-arrow.png"></a>

<div class="container main-content">
    {snp_subnav_home}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
           	<h1>Welcome</h1>
            <p class="intro">Scholastic shares California’s goal of empowering all students to develop competence and confidence in reading, writing, speaking, and listening—essential elements for success in school and life. <span class="nobr"><em>READ 180</em> Universal</span> was built to ensure that all California students have access to research-based instructional materials that are appropriate for their diverse linguistic and cognitive needs. <span class="nobr"><em>READ 180</em></span> Universal was built to:</p>
            <ul class="intro">
                <li>Accelerate all students to grade-level independence <br></li>
                <li>Engage minds and hearts as students read, write, speak, and listen across a range of contexts<br></li>
                <li>Build the communicative skills and content knowledge necessary for success</li>
            </ul>
            <p class="intro">Meet Francie Alexander, Chief Academic Officer for Scholastic, to learn more about our commitment to partner with your educators, students, and families to help all students achieve their highest potential.</p>
			<p class="text-center"><a href="#home-video" class="video-link btn btn-default btn-lg"><i class="fa fa-play-circle"></i> Watch the Video</a></p>
            <div id="home-video" class="video-popup mfp-hide">
                <video id="video-home" class="video-js vjs-default-skin"
                    controls preload="none" width="auto" height="auto"
                    poster="{global:s3_base}/images/scholastic-video-poster.jpg"
                    data-setup=''>
                    <source src="{global:s3_base}/resources/r180u_n.welcome_far.mp4" type='video/mp4' />
                    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                </video>
            </div>
        </div>
    </div>
</div>
{if:else}
{layout:set name="classes" value="login"}
<div class="container main-content main-content-padded">
    <div class="row">
        <div class="col-xs-12 text-center">
            {exp:channel:entries
                channel="static_pages"
                disable="categories|member_data|pagination"
                limit="1"
                url_title="page-not-found"
            }
            <h1>{if title_alt}{title_alt}{if:else}{title}{/if}</h1>
            {content}
            {/exp:channel:entries}
        </div>
    </div>
</div>
{/if}