{layout="layouts/index" classes="review-content"}
{exp:ce_cache:it id="r180p-rc" seconds="3600"}
{if segment_4 ==""}
<div class="container main-content">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1" style="padding-top: 30px;">
            <h1>Select Program Component</h1>
            <p class="intro">All of the program resources are organized by four categories: Assessment, Individualized Learning Technology, Whole- and Small-Group Learning, and Independent Reading. Click on one of the four components below to explore.</p>
        </div>
        <div class="circle-nav-wrap">
            <a class="circle-nav" href="/{segment_1}/{segment_2}/review-content/assessment/">
                <i class="fa fa-pencil-square-o"></i><br>
                Assessment
            </a>
            <a class="circle-nav" href="/{segment_1}/{segment_2}/review-content/ilt/">
                <i class="fa fa-lightbulb-o"></i><br>
                Individualized Learning Technology
            </a>
            <a class="circle-nav" href="/{segment_1}/{segment_2}/review-content/whole-small-group-learning/">
                <i class="fa fa-users"></i><br>
                Whole- &amp; Small-Group Learning
            </a>
            <a class="circle-nav" href="/{segment_1}/{segment_2}/review-content/independent-reading/">
                <i class="fa fa-book"></i><br>
                Independent Reading
            </a>
        </div>
    </div>
</div>
{if:elseif segment_4 == "assessment"}
<div class="container main-content">
    {snp_subnav_review}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 intro margin-top-0">
            {exp:channel:entries
                channel="content_review"
                disable="categories|member_data|pagination"
                dynamic="no"
                url_title="r180p-assessment"
            }
                {cr_intro_copy}
                {if cr_disclaimer}
                <div class="disclaimer">
                    {cr_disclaimer}
                </div>
                {/if}
            {/exp:channel:entries}        
            {!-- <p class="intro" style="margin-top: 0;">Ensuring that students are operating at their best instructional level is critical to ensuring that students are successful in any program. <em>READ 180</em>Universal provides educators and their students with a suite of assessments including universal screeners, formative assessments, curriculum-based assessments and performance-based assessments. A brief description of each component, and a sample test item will appear when you rollover the component name. Click on the component to expand and review that resource(s).  </p>
           <p>Note to reviewers: Scholastic Inc. does not have permission to display all READ 180 content in digital format.</p> --}
        </div><!-- /.col-xs-10 -->
    </div><!-- /.row -->
    <div class="container">
        <div role="tabpanel">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs main-tabs" id="main-tabs" role="tablist">
                        <!--top level tabs-->
                        <li class="active"><a href="#pane1-1" data-toggle="tab"><em>Scholastic Reading Inventory</em></a></li>
                        <li><a href="#pane1-2" data-toggle="tab"><em>Scholastic Reading Counts!</em></a></li>
                        <li><a href="#pane1-3" data-toggle="tab"><em>READ 180</em> Universal</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="tab-content tab-content-main">
                        
                        <!-- SRI tab -->
                        <div class="tab-pane tab-pane-full active" id="pane1-1">
                            <div class="row">
                                <div class="col-xs-5 text-center">
                                    <img src="{global:assets_base}/assets/images/logo-sri-300.jpg" style="margin:10px auto;">
                                </div>
                                <div class="col-xs-7">
                                    <h3><em>Scholastic Reading Inventory </em>(SRI)</h3>
                                    <p>SRI is a proven universal screener and progress-monitoring assessment that measures reading growth on the Lexile&reg; Framework for Reading. </p>
                                    {embed="_embeds/tab_content_list" cat="169"}
                                    {!-- <p><a class="doc-link" href="#"><i class="fa fa-file-text"></i> Sample Items</a></p> --}
                                </div>


                            </div>
                        </div>
                        <!-- SRC tab -->
                        <div class="tab-pane tab-pane-full" id="pane1-2">
                            <div class="row">
                                 <div class="col-xs-5 text-center">
                                     <img src="{global:assets_base}/assets/images/logo-src-250.jpg" style="margin:10px auto;">
                                 </div>
                                 <div class="col-xs-7">
                                    <h3><em>Scholastic Reading Counts!</em> (SRC!)</h3>
                                    <p>SRC! is an independent reading program that combines reading practice and software-based reading assessment. </p>
                                    {embed="_embeds/tab_content_list" cat="170"}
                                    {!-- <p><a class="doc-link" href="#"><i class="fa fa-file-text"></i> Sample Items</a></p> --}
                                 </div>
                             </div>

                        </div>                                    
                        <!-- Read 180 tab -->
                        <div class="tab-pane tab-pane-full " id="pane1-3">

                           <div class="row">
                                <div class="col-xs-5 text-center">
                                    <img src="{global:assets_base}/assets/images/read-180-logo-final-195.png" style="margin:20px auto;">
                                </div>
                                <div class="col-xs-7">
                                    <h3><em>READ 180</em> Universal Workshop Assessments</h3>
                                    <p>During every <em>LSpace</em> Workshop, students take an interim and end-of-Workshop assessment that measures their reading trajectories to grade-level proficiency and builds mastery and confidence.</p>
                                    {embed="_embeds/tab_content_list" cat="171"}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.tab-content -->
        </div><!-- /tabpanel -->
    </div>
</div><!-- /.main-content -->
{if:elseif segment_4 == "ilt"}
<div class="container main-content">
    {snp_subnav_review}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 intro margin-top-0">
            {exp:channel:entries
                channel="content_review"
                disable="categories|member_data|pagination"
                dynamic="no"
                url_title="r180p-individualized-learning-technology"
            }
                {cr_intro_copy}
                {if cr_disclaimer}
                <div class="disclaimer">
                    {cr_disclaimer}
                </div>
                {/if}
            {/exp:channel:entries}  
            {!-- <p class="intro" style="margin-top: 0;">Struggling readers need intensive, individualized instruction to address their unique learning needs.  Students are provided with two individualized learning technology tracks within <em>READ 180</em>Universal.  For students in need of foundational reading support, they will use the System 44 Individualized Learning Technology.  For those students needing to build fluency and automaticity with their reading, vocabulary, spelling and writing skills, they will use the <em>READ 180</em>Individualized Learning Technology.</p>
            <p>Note to reviewers: Scholastic Inc. does not have permission to display all READ 180 content in digital format.</p> --}
        </div><!-- /.col-xs-10 -->
    </div><!-- /.row -->
    <div class="container">
        <div role="tabpanel">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs main-tabs" id="main-tabs" role="tablist">
                        <!--top level tabs-->
                         <li class="active"><a href="#pane2-1" data-toggle="tab"><em>System 44</em></a></li>
                        <li><a href="#pane2-2" data-toggle="tab"><em>READ 180</em> Universal</a></li>     
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="tab-content tab-content-main">
                        <!-- Read 180 tab -->
                        <div class="tab-pane tab-pane-full active" id="pane2-1">

                           <div class="row">
                                <div class="col-xs-5 text-center">
                                    <img src="{global:assets_base}/assets/images/logo-system-44-250.jpg" style="margin:10px auto;">
                                </div>
                                <div class="col-xs-7">
                                    <h3><em>System 44</em></h3>
                                    <p>The <em>System 44</em> Individualized Learning Technology delivers a personalized learning path through instructional strands that cover phonics, decoding, word recognition, and writing. </p>
                                    {embed="_embeds/tab_content_list" cat="172"}

                                </div>
                            </div>
                        </div>
                       <!-- Read 180 tab -->
                        <div class="tab-pane tab-pane-full " id="pane2-2">
                           <div class="row">
                                <div class="col-xs-5 text-center">
                                    <img src="{global:assets_base}/assets/images/read-180-logo-final-195.png" style="margin:20px auto;">
                                </div>
                                <div class="col-xs-7">
                                    <h3><em>READ 180</em> Universal</h3>
                                    <p>The <em>READ 180</em> Universal Individualized Learning Technology allows students to follow an individualized learning path that accelerates them to proficiency in reading, academic vocabulary and language, and writing. </p>
                                    {embed="_embeds/tab_content_list" cat="173"}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.tab-content -->
        </div><!-- /tabpanel -->
    </div>
</div><!-- /.main-content -->
{if:elseif segment_4 == "whole-small-group-learning"}
<div class="container main-content">
    {snp_subnav_review}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 intro margin-top-0">
            {exp:channel:entries
                channel="content_review"
                disable="categories|member_data|pagination"
                dynamic="no"
                url_title="r180p-whole-and-small-group-learning"
            }
                {cr_intro_copy}
                {if cr_disclaimer}
                <div class="disclaimer">
                    {cr_disclaimer}
                </div>
                {/if}
            {/exp:channel:entries} 
            {!-- <p class="intro" style="margin-top: 0;">Whole- and Small-Group Learning in <em>READ 180</em>Universal. During Whole-Group Learning, teachers begin class by facilitating systematic instruction in reading skills and strategies, academic vocabulary, writing and grammar to the whole class.  During Small-Group Learning, students receive individualized data-driven instruction that meets their unique needs while building meaningful relationships with their teacher.  </p>
            <p>Note to reviewers: Scholastic Inc. does not have permission to display all READ 180 content in digital format.</p> --}
        </div><!-- /.col-xs-10 -->
    </div><!-- /.row -->
    <div class="container">
        <div role="tabpanel">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs main-tabs" id="main-tabs" role="tablist">
                        <!--top level tabs-->
                         <li class="active"><a href="#pane3-1" data-toggle="tab"><em>READ 180</em> Universal</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="tab-content tab-content-main">
                       <!-- Read 180 tab -->
                        <div class="tab-pane active" id="pane3-1">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="tabs-left">
                                        {embed="_embeds/tabs_left" cat="163" group="4" titlealt="r180-public"}
                                    </div>
                                </div><!-- /.col-xs-3 -->
                                <div class="col-xs-9 tabs-right">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab1">
                                            <div class="row">
                                                <div id="tab-pane-content1" class="tab-pane-content">
                                                <div id="tab-loading"><img src="{global:assets_base}/assets/images/loading-50.gif" alt="loading"></div>
                                                {embed="_embeds/tab_content" cat="174"}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-xs-9 -->
                            </div><!-- /.row -->
                        </div><!-- /.tab-pane -->
                    </div>
                </div>
            </div><!-- /.tab-content -->
        </div><!-- /tabpanel -->
    </div>
</div><!-- /.main-content -->
{if:elseif segment_4 == "independent-reading"}
<div class="container main-content">
    {snp_subnav_review}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 intro margin-top-0">
            {exp:channel:entries
                channel="content_review"
                disable="categories|member_data|pagination"
                dynamic="no"
                url_title="r180p-independent-reading"
            }
                {cr_intro_copy}
                {if cr_disclaimer}
                <div class="disclaimer">
                    {cr_disclaimer}
                </div>
                {/if}
            {/exp:channel:entries} 
            {!-- <p>Note to reviewers: Scholastic Inc. does not have permission to display all READ 180 content in digital format.</p> --}
        </div><!-- /.col-xs-10 -->
    </div><!-- /.row -->
    
    <div class="container">
        <div role="tabpanel">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs main-tabs" id="main-tabs" role="tablist">
                        <!--top level tabs-->
                        <li class="active"><a href="#pane1" data-toggle="tab">Paperbacks</a></li>
                        {!-- <li class=""><a href="#pane1a" data-toggle="tab">Paperbacks R180</a></li> --}
                        <li><a href="#pane2" data-toggle="tab">Audiobooks</a></li>
                        <li><a href="#pane3" data-toggle="tab">eReads</a></li>
                        <li><a href="#pane4" data-toggle="tab">eBooks</a></li>
                        {!-- <li><a href="#pane4a" data-toggle="tab">eBooks S44</a></li> --}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="tab-content tab-content-main">
                        <!-- Paperbacks -->
                        <div class="tab-pane active" id="pane1">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="tabs-left">
                                        {embed="_embeds/tabs_left" cat="178" group="4" titlealt="r180-public" type="ind-read"}
                                    </div>
                                </div><!-- /.col-xs-3 -->
                                <div class="col-xs-9 tabs-right">
                                    <div class="tab-content tab-content-narrow">
                                        <div class="tab-pane active" id="tab1">
                                            <div class="row">
                                                <div id="tab-pane-content" class="tab-pane-content">
                                                <div id="tab-loading"><img src="{global:assets_base}/assets/images/loading-50.gif" alt="loading"></div>
                                                {embed="_embeds/tab_content_ir" cat="187"  cols="2"}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-xs-9 -->
                            </div><!-- /.row -->
                        </div><!-- /.tab-pane -->
                        {!-- <!-- Paperbacks tab -->
                        <div class="tab-pane active" id="pane1">
                            <div class="row">
                                <div class="col-xs-12 tabs-right">
                                    <div class="tab-content">
                                        <div class="tab-pane tab-pane-full active">
                                            {embed="_embeds/tab_content_ir" cat="186"}
                                        </div>
                                    </div>
                                </div><!-- /.col-xs-9 -->
                            </div><!-- /.row -->
                        </div><!-- /.tab-pane -->

                        <!-- Paperbacks2 tab -->
                        <div class="tab-pane " id="pane1a">
                            <div class="row">
                                <div class="col-xs-12 tabs-right">
                                    <div class="tab-content">
                                        <div class="tab-pane tab-pane-full active">
                                            {embed="_embeds/tab_content_ir" cat="187"}
                                        </div>
                                    </div>
                                </div><!-- /.col-xs-9 -->
                            </div><!-- /.row -->
                        </div><!-- /.tab-pane --> --}

                        <!-- Audiobooks tab -->
                        <div class="tab-pane" id="pane2">
                            <div class="row">
                                <div class="col-xs-12 tabs-right">
                                    <div class="tab-content">
                                        <div class="tab-pane tab-pane-full active">
                                            {embed="_embeds/tab_content_ir" cat="177"}
                                        </div>
                                    </div>
                                </div><!-- /.col-xs-9 -->
                            </div><!-- /.row -->
                        </div><!-- /.tab-pane -->

                        <!-- eReads tab -->
                        <div class="tab-pane" id="pane3">
                            <div class="row">
                                <div class="col-xs-12 tabs-right">
                                    <div class="tab-content">
                                        <div class="tab-pane tab-pane-full active">
                                            {embed="_embeds/tab_content_ir" cat="176"}
                                        </div>
                                    </div>
                                </div><!-- /.col-xs-9 -->
                            </div><!-- /.row -->
                        </div><!-- /.tab-pane -->

                        <!-- ebooks tab -->
                        <div class="tab-pane " id="pane4">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="tabs-left">
                                        {embed="_embeds/tabs_left" cat="175" group="4" titlealt="r180-public" type="ind-read"}
                                    </div>
                                </div><!-- /.col-xs-3 -->
                                <div class="col-xs-9 tabs-right">
                                    <div class="tab-content tab-content-narrow">
                                        <div class="tab-pane active" id="tab1">
                                            <div class="row">
                                                <div id="tab-pane-content" class="tab-pane-content">
                                                <div id="tab-loading"><img src="{global:assets_base}/assets/images/loading-50.gif" alt="loading"></div>
                                                {embed="_embeds/tab_content_ir" cat="189"  cols="2"}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-xs-9 -->
                            </div><!-- /.row -->
                        </div><!-- /.tab-pane -->

                        {!-- <!-- ebooks r180 tab -->
                        <div class="tab-pane" id="pane4">
                            <div class="row">
                                <div class="col-xs-12 tabs-right">
                                    <div class="tab-content">
                                        <div class="tab-pane tab-pane-full active">
                                            {embed="_embeds/tab_content_ir" cat="189"}
                                            
                                        </div>
                                    </div>
                                </div><!-- /.col-xs-9 -->
                            </div><!-- /.row -->
                        </div><!-- /.tab-pane -->

                        <!-- ebooks s44 tab -->
                        <div class="tab-pane" id="pane4a">
                            <div class="row">
                                <div class="col-xs-12 tabs-right">
                                    <div class="tab-content">
                                        <div class="tab-pane tab-pane-full active">
                                            {embed="_embeds/tab_content_ir" cat="188"}
                                        </div>
                                    </div>
                                </div><!-- /.col-xs-9 -->
                            </div><!-- /.row -->
                        </div><!-- /.tab-pane --> --}
                    </div>
                </div>
            </div><!-- /.tab-content -->
        </div><!-- /tabpanel -->
    </div>
</div><!-- /.main-content -->
{if:else}
<div class="container main-content main-content-padded">
    <div class="row">
        <div class="col-xs-12 text-center">
            {exp:channel:entries
                channel="static_pages"
                disable="categories|member_data|pagination"
                limit="1"
                url_title="page-not-found"
            }
            <h1>{if title_alt}{title_alt}{if:else}{title}{/if}</h1>
            {content}
            {/exp:channel:entries}
        </div>
    </div>
</div>
{/if}
{/exp:ce_cache:it}